<section class="p-t-70 p-b-20 bg-master-lightest">
  <div class="container">
    <h1 class="text-center text-primary">Termos de uso e privacidade</h1>
  </div>
</section>

<section class="p-t-60 p-b-60 bg-white">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non aperiam nisi itaque temporibus aut dicta ipsam a. Id nesciunt, optio, velit maiores deleniti explicabo saepe possimus quidem asperiores sit, sequi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil repudiandae, debitis et voluptatibus error aperiam doloremque architecto perspiciatis, qui beatae illum tenetur? Velit saepe harum asperiores magni totam nihil nobis veritatis reiciendis, inventore quaerat, natus ullam! Voluptates, quod optio! Autem, rem totam rerum saepe reiciendis labore odit accusamus, voluptates ipsum sequi dolore cumque sapiente explicabo nostrum, laudantium cum animi odio a voluptatibus! Illum libero hic, voluptas harum aliquid, officiis error, quo doloremque ex laboriosam laborum distinctio aperiam non temporibus. Fugit quod, tempora nulla dolorum repellendus a voluptates asperiores sunt! Cum aliquid accusamus ullam illum nulla sapiente unde consectetur aliquam deleniti.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quam labore eveniet sint soluta, at necessitatibus, laborum voluptates, perspiciatis quasi atque sit magnam maxime. Necessitatibus rem totam sequi, maxime reprehenderit quasi natus assumenda quas voluptatum vitae est voluptatibus debitis atque consequuntur mollitia nobis aperiam blanditiis eligendi, quos in vero, deserunt voluptas. Debitis pariatur, nobis autem deleniti excepturi sequi alias tenetur minus repudiandae a, porro mollitia voluptatibus nemo natus numquam aut.</p>
  </div>
</section>
