<div class="block-message block-message-error p-t-70" ng-show="vm.isSocialAccount()">
  <h4>Ops! Não é possível alterar sua senha...</h4>
  <p>Você está autenticado através de rede social.</p>
</div>

<div ng-show="!vm.isSocialAccount()">
  <h3 class="tab-heading">Mudar senha</h3>

  <!-- Password -->
  <form name="password" ng-submit="vm.changePassword(vm.passwordObject, password)" novalidate>
    <div class="form-group form-group-inline">
      <div class="row">
        <div class="col-sm-3">
          <label for="password1">Senha atual</label>
        </div>

        <div class="col-sm-9" ng-class="{'has-error': password.password1.$invalid && password.$submitted}">
          <input id="password1" name="password1" type="password" minlength="6" class="form-control" ng-model="vm.passwordObject.currentPassword"
            ng-disabled="user.isSocialAccount" required>
          <div ng-if="password.password1.$invalid && password.$submitted" ng-messages="password.password1.$error">
            <div ng-messages-include="modules/core/error-messages.html"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- New Password -->
    <div class="form-group form-group-inline">
      <div class="row">
        <div class="col-sm-3">
          <label for="password2">Nova senha</label>
        </div>

        <div class="col-sm-9" ng-class="{'has-error': password.password2.$invalid && password.$submitted}">
          <input id="password2" name="password2" type="password" minlength="6" class="form-control" ng-model="vm.passwordObject.newPassword"
            ng-disabled="user.isSocialAccount" required>
          <div ng-if="password.password2.$invalid && password.$submitted" ng-messages="password.password2.$error">
            <div ng-messages-include="modules/core/error-messages.html"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group form-group-inline last">
      <div class="row">
        <div class="col-sm-3">
          <label for="password3">Confirme a nova senha</label>
        </div>

        <div class="col-sm-9" ng-class="{'has-error': (!vm.checkPassword() || !password.password3) && password.$submitted}">
          <input id="password3" name="password3" type="password" minlength="6" class="form-control" ng-model="vm.passwordObject.confirmNewPassword"
            ng-disabled="user.isSocialAccount" required>
          <div ng-if="(!vm.checkPassword() || password.password3) && password.$submitted" ng-messages="password.password3.$error">
            <label class="error" ng-if="!vm.checkPassword()">As senhas não coincidem</label>
            <div ng-messages-include="modules/core/error-messages.html"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-action">
      <button type="submit" class="btn btn-bordered btn-rounded btn-lg btn-primary" ladda="vm.isRunningChangePassword">Salvar</button>
    </div>
  </form>
</div>
