<div class="clearfix"></div>

<section class="p-b-20 p-t-70 sm-p-b-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h4 class="block-title m-b-0">Evite filas em seu estabelecimento</h4>
        <h1 class="m-t-5 text-primary">A satisfação do seu cliente está em primeiro lugar</h1>
        <p>Melhore a experiência de seus clientes evitando esperas. Com o Filazero, seu cliente será informado em tempo real sobre o momento de seu atendimento.</p>
      </div>
    </div>
  </div>
</section>

<section id="demo-content-3" class="jumbotron p-t-30 p-b-60 relative no-overflow bg-white">
  <img class="demo-browser-desktop visible-lg visible-xlg" src="assets/images/screenshots/filazero-app-attendance.png" data-pages="float" data-max-top-translate="0" data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
  <img class="demo-browser-ipad visible-sm visible-md" src="assets/images/screenshots/filazero-app-tablet.png" data-pages="float" data-max-top-translate="0" data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
  <img class="demo-browser-phone visible-xs" src="assets/images/screenshots/filazero-app-mobile.png" data-pages="float" data-max-top-translate="0" data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
  <div class="demo-shadow"></div>
</section>

<section class="p-t-30 p-b-30 bg-master-dark xs-p-t-20 xs-p-b-20 text-center">
  <h3 class="text-white m-b-0 m-t-5">Experimente o <span class="semi-bold">Filazero</span> em sua empresa</h3>
  <button class="btn btn-lg btn-bordered btn-white m-t-20" data-scrollink="#contact">Nós entramos em contato com você</button>
</section>

<section class="p-t-60 p-b-60 bg-white">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-left">
      <div class="inner full-height">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle">
            <div class="container">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                  <h1 class="text-primary">Equilibre sua força de trabalho</h1>
                  <p class="m-t-30 text-menu">Tempo é dinheiro. Saiba exatamente o comportamento de seu fluxo de atendimento. Através de relatórios precisos, você poderá estabelecer uma escala de trabalho adequada à sua demanda, evitando mão de obra ociosa.</p>
                </div>

                <div class="col-sm-6 p-t-15 p-b-15">
                  <div class="block-icon centered">
                    <div class="block-icon block-icon-stats-up"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-b-60 p-t-60 bg-master-lighter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 p-t-15 p-b-15">
        <div class="block-icon centered">
          <div class="block-icon block-icon-time"></div>
        </div>
      </div>

      <div class="col-sm-5 sm-p-t-0">
        <h1 class="text-primary">Tudo em tempo real</h1>
        <p class="m-t-30">A performance de seu atendimento é informada em tempo real. Manobre sua equipe de forma inteligente e melhore a experiência dos seus clientes agora mesmo. Com o dashboard inteligente do Filazero, você tomará as decisões mais rapidamente.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-t-60 p-b-60 bg-white">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-left">
      <div class="inner full-height">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle">
            <div class="container">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                  <h1 class="text-primary">Não perca oportunidades</h1>
                  <p class="m-t-30 text-menu">Overbooking inteligente é a resposta certa para aproveitar o máximo do mercado. Todo cliente interessado em algum dia lotado será cadastrado. Caso surja alguma vaga, os interessados serão notificados automaticamente.</p>
                </div>

                <div class="col-sm-6 p-t-15 p-b-15">
                  <div class="block-icon centered">
                    <div class="block-icon block-icon-eye"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-b-60 p-t-60 bg-master-lighter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 p-t-15 p-b-15">
        <div class="block-icon centered">
          <div class="block-icon block-icon-search"></div>
        </div>
      </div>

      <div class="col-sm-5 sm-p-t-0">
        <h1 class="text-primary">Diretório de serviços: seja encontrado!</h1>
        <p class="m-t-30">Explore é nosso diretório de serviços que permite que qualquer pessoa encontre sua empresa a partir de qualquer palavra. Dessa forma, ajudamos você a ser encontrado e fazer negócios.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-t-60 p-b-60 bg-white">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-left">
      <div class="inner full-height">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle">
            <div class="container">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                  <h1 class="text-primary">Autoatendimento online</h1>
                  <p class="m-t-30 text-menu">Sua empresa poderá ser acessada a partir de seu hotsite na url <span class="semi-bold">http://filazero.net/sua-empresa</span>. Lá, seu cliente poderá explorar seus serviços disponíveis e emitir um ticket de atendimento. Comodidade para seu cliente e mais negócios para você.</p>
                </div>

                <div class="col-sm-6 p-t-15 p-b-15">
                  <div class="block-icon centered">
                    <div class="block-icon block-icon-mobile"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-b-60 p-t-60 bg-master-lighter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 p-t-15 p-b-15">
        <div class="block-icon centered">
          <div class="block-icon block-icon-star"></div>
        </div>
      </div>

      <div class="col-sm-5 sm-p-t-0">
        <h1 class="text-primary">Feedback: seu cliente, sua melhor resposta</h1>
        <p class="m-t-30">Cada atendimento poderá ser avaliado por seu cliente e assim você poderá saber onde investir mais e melhorar a experiência do seu cliente.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-b-60 p-t-60 bg-white" id="contact">
  <div class="container">
    <div class="block-message block-message-success block-message-color" ng-show="formSent">
      <h4>Tudo certo! Formulário enviado com sucesso...</h4>
      <p>Recebemos seu email e em breve entraremos em contato.</p>
    </div>

    <div class="p-b-30 text-center" ng-show="!formSent">
      <h6 class="block-title text-primary">Experimente o Filazero</h6>
      <h3 class="m-t-5 text-primary text-center">Preencha o formulário e entraremos em contato</h3>
    </div>


    <form name="contactForm" ng-submit="sendContactMessage()" novalidate ng-show="!formSent">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-group-default required"
               ng-class="{'has-error': contactForm.customerName.$invalid && contactForm.$submitted}">
            <label>Nome</label>
            <input class="form-control" name="customerName" ng-model="contact.name" type="text"
                   ng-required="true">
          </div>
          <div class="error"
                ng-if="contactForm.customerName.$invalid && contactForm.$submitted"
                ng-messages="contactForm.customerName.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group form-group-default required"
               ng-class="{'has-error': contactForm.emailFrom.$invalid && contactForm.$submitted}">
            <label>Email</label>
            <input class="form-control" name="emailFrom" ng-model="contact.emailFrom" type="email"
                   ng-required="true">
          </div>
          <div class="error"
                ng-if="contactForm.emailFrom.$invalid && contactForm.$submitted"
                ng-messages="contactForm.emailFrom.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group form-group-default required"
               ng-class="{'has-error': contactForm.phone.$invalid && contactForm.$submitted}">
            <label>Telefone</label>
            <input class="form-control" name="phone" ng-model="contact.phone" type="text" ng-required="true" ui-mask-placeholder-char="space"
                   ui-mask="99 99999999?9" ui-options="{clearOnBlur: false}">
          </div>
          <div class="error"
               ng-if="contactForm.emailFrom.$invalid && contactForm.$submitted"
               ng-messages="contactForm.phone.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>
      </div>

      <div class="form-group form-group-default required"
           ng-class="{'has-error': contactForm.message.$invalid && contactForm.$submitted}">
        <label>Mensagem</label>
        <textarea ng-model="contact.message" name="message" class="form-control" style="height:100px"
                  ng-required="true"></textarea>
      </div>
      <div class="error"
           ng-if="contactForm.message.$invalid && contactForm.$submitted"
           ng-messages="contactForm.message.$error">
        <span ng-messages-include="modules/core/error-messages.html"></span>
      </div>

      <div class="block-action">
        <button type="submit" ladda="isLoading"
                 class="btn btn-rounded btn-lg btn-primary">Enviar agora</button>
      </div>
    </form>
  </div>
</section>
