<h3 class="tab-heading">Resumo</h3>

<div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="vm.isLoading"></div>

<div class="row" ng-show="!vm.isLoading">
  <div class="col-sm-6">
    <div class="panel panel-default panel-live">
      <div class="panel-heading">
        <div class="panel-title">Perfil</div>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-cozy">
            <tr>
              <td class="muted">Nome</td>
              <td>{{vm.account.firstName}} {{vm.account.lastName}}</td>
            </tr>
            <tr>
              <td class="muted">Email</td>
              <td>{{vm.account.email}}</td>
            </tr>
            <tr>
              <td class="muted">Telefone</td>
              <td ng-if="vm.account.phone">{{vm.account.phone}}</td>
              <td ng-if="!vm.account.phone"><a ui-sref="app.account.profile"><i class="fa fa-plus-circle m-r-5"></i>Adicionar</a></td>
            </tr>
            <tr>
              <td class="muted">Gênero</td>
              <td>
                <span ng-if="vm.account.gender === 'male'">Masculino</span>
                <span ng-if="vm.account.gender === 'female'">Feminino</span>
                <span ng-if="!vm.account.gender"><a ui-sref="app.account.profile"><i class="fa fa-plus-circle m-r-5"></i>Adicionar</a></span>
              </td>
            </tr>
            <tr>
              <td class="muted">Data de nascimento</td>
              <td ng-if="vm.account.birthDate">{{vm.account.birthDate | date: 'shortDate'}}</td>
              <td ng-if="!vm.account.birthDate"><a ui-sref="app.account.profile"><i class="fa fa-plus-circle m-r-5"></i>Adicionar</a></td>
            </tr>
          </table>
        </div>

        <div class="text-right">
          <button class="btn btn-rounded btn-bordered btn-primary" ui-sref="app.account.profile">Editar dados</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default panel-live">
      <div class="panel-heading">
        <div class="panel-title">Bilhetes</div>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-cozy">
            <tr>
              <td class="text-primary">Ativos</td>
              <td><span class="badge badge-primary">{{vm.account.tickets.active}}</span></td>
            </tr>
            <tr>
              <td class="muted">Concluídos</td>
              <td><span class="badge">{{vm.account.tickets.completed}}</span></td>
            </tr>
            <tr>
              <td class="muted">Cancelados</td>
              <td><span class="badge">{{vm.account.tickets.canceled}}</span></td>
            </tr>
          </table>
        </div>

        <div class="text-right">
          <button class="btn btn-rounded btn-bordered btn-primary" ui-sref="app.account.tickets">Ver bilhetes</button>
        </div>
      </div>
    </div>
  </div>
</div>
