<section class="p-t-70 p-b-20 bg-white">
  <div class="container">
    <h1 class="text-center text-primary">Explore</h1>

    <form>
      <div class="row m-t-30">
        <div class="col-sm-11 md-m-b-10">
          <input type="text" class="form-control input-lg" placeholder="O que você está buscando?" maxlength="50" ng-class="{'input-loading': isLoading}" ng-model="searchString" ng-init="focus=true" focus-me="focus">
        </div>

        <div class="col-sm-1">
          <button tytpe="submit" class="btn btn-lg btn-block btn-primary" ng-click="search(searchString)"><i class="pg-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="p-b-50 sm-p-b-10 bg-master-lightest">
  <div class="container">
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title" ng-show="hasLocations">Resultado da pesquisa</div>
      </div>

      <div class="panel-body">
        <div class="row m-t-10">
          <div class="block-message" ng-show="initialState && !hasLocations">
            <h4>Veja onde o Filazero está presente</h4>
            <p>Localize empresas que se preocupam com você e utilizam o Filazero para te ajudar a economizar o seu tempo.</p>
          </div>

          <div class="block-message block-message-empty" ng-show="!initialState && !hasLocations">
            <h4>Sua pesquisa - <strong>{{lastSearchString}}</strong> - não encontrou nenhum resultado dessa vez.</h4>
            <p>Se você quer encontrar nutricionistas na cidade em Aracaju, por exemplo, basta digitar os termos "nutricionista aracaju".</p>
          </div>

          <a ng-href="#/app/p/{{location.provider.slug}}/{{location.locationId}}" class="col-md-4 block-panel" ng-repeat="location in locations" ng-show="hasLocations">
            <div class="panel panel-default">
              <div class="panel-heading separator">
                <div class="panel-title text-primary">{{location.provider.name}}</div>
                <div class="panel-subtitle">{{location.name}}</div>
              </div>

              <div class="panel-body">
                <address ng-if="!isMobileLocation(location)">
                  {{location.address.street}}<br>
                  {{location.address.zipCode}}<br>
                  <strong>{{location.address.city}} - {{location.address.state}}</strong>
                </address>

                <address ng-if="isMobileLocation(location)">
                  <strong>Unidade móvel</strong>
                </address>
              </div>

              <div class="panel-sub">{{'global.categories.' + location.provider.category | translate}}</div>
            </div>
          </a>
        </div>

        <div class="m-t-30 text-center" ng-show="hasLocations">
          <a href="javascript:;" type="button" class="btn btn-primary btn-cons btn-bordered" ng-click="moreResults()" ng-show="hasMoreResults">Mais resultados</a>
        </div>
      </div>
    </div>
  </div>
</section>
