<section class="p-t-70 p-b-20 bg-master-lightest">
  <div class="container">
    <h1 class="text-center text-primary">Contato</h1>
  </div>
</section>

<section class="p-t-30 p-b-30 bg-white">
  <div class="container">

    <div class="block-message block-message-success block-message-color" ng-show="formSent">
      <h4>Tudo certo! Formulário enviado com sucesso...</h4>
      <p>Recebemos seu email e em breve entraremos em contato.</p>
    </div>

    <div class="p-b-30 text-center" ng-show="!formSent">
      <h3 class="m-t-5 text-primary text-center">Preencha o formulário para falar conosco</h3>
      <p class="hint-text">
        Caso prefira, você pode nos enviar uma mensagem diretamente para <a href="mailto:contato@filazero.net" class="semi-bold">contato@filazero.net</a>
      </p>
    </div>

    <form name="contactForm" ng-submit="sendContactMessage()" novalidate ng-show="!formSent">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-group-default required" ng-class="{'has-error': contactForm.customerName.$invalid && contactForm.$submitted}">
            <label>Nome</label>
            <input class="form-control" name="customerName" ng-model="contact.name" type="text" ng-required="true">
          </div>
          <div class="error" ng-if="contactForm.customerName.$invalid && contactForm.$submitted" ng-messages="contactForm.customerName.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group form-group-default required" ng-class="{'has-error': contactForm.emailFrom.$invalid && contactForm.$submitted}">
            <label>Email</label>
            <input class="form-control" name="emailFrom" ng-model="contact.emailFrom" type="email" ng-required="true">
          </div>
          <div class="error" ng-if="contactForm.emailFrom.$invalid && contactForm.$submitted" ng-messages="contactForm.emailFrom.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group form-group-default required" ng-class="{'has-error': contactForm.phone.$invalid && contactForm.$submitted}">
            <label>Telefone</label>
            <input class="form-control" name="phone" ng-model="contact.phone" type="text" ng-required="true" ui-mask-placeholder-char="space"
              ui-mask="99 99999999?9" ui-options="{clearOnBlur: false}">
          </div>
          <div class="error" ng-if="contactForm.emailFrom.$invalid && contactForm.$submitted" ng-messages="contactForm.phone.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>
      </div>

      <div class="form-group form-group-default required" ng-class="{'has-error': contactForm.message.$invalid && contactForm.$submitted}">
        <label>Mensagem</label>
        <textarea ng-model="contact.message" name="message" class="form-control" style="height:100px" ng-required="true"></textarea>
      </div>
      <div class="error" ng-if="contactForm.message.$invalid && contactForm.$submitted" ng-messages="contactForm.message.$error">
        <span ng-messages-include="modules/core/error-messages.html"></span>
      </div>

      <div class="block-action">
        <button type="submit" ladda="isLoading" class="btn btn-rounded btn-lg btn-primary">Enviar agora</button>
      </div>
    </form>
  </div>
</section>