<h3 class="tab-heading">Editar dados</h3>

<div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
  <form name="user" ng-submit="vm.updateUser(vm.user, user)" novalidate>

    <!-- Nome -->
    <div class="form-group form-group-inline required">
      <div class="row">
        <div class="col-sm-3">
          <label for="firstName">Nome</label>
        </div>

        <div class="col-sm-9" ng-class="{'has-error': user.firstName.$invalid && user.$submitted}">
          <input id="firstName" name="firstName" minlength="3" type="text" class="form-control" ng-model="vm.user.firstName" required>
          <div class="error"
               ng-if="user.firstName.$invalid && user.$submitted"
               ng-messages="user.firstName.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Sobrenome -->
    <div class="form-group form-group-inline required">
      <div class="row">
        <div class="col-sm-3">
          <label for="lastName">Sobrenome</label>
        </div>

        <div class="col-sm-9" ng-class="{'has-error': user.lastName.$invalid && user.$submitted}">
          <input id="lastName" name="lastName" minlength="3" type="text" class="form-control" ng-model="vm.user.lastName" required>
          <div class="error"
               ng-if="user.lastName.$invalid && user.$submitted"
               ng-messages="user.lastName.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group form-group-inline">
      <div class="row">
        <div class="col-sm-3">
          <label for="email">Email</label>
        </div>

        <div class="col-sm-9">
          <input id="email" name="email" type="email" minlength="3" class="form-control" ng-model="vm.user.email" disabled required>
        </div>
      </div>
    </div>

    <!-- Phone -->
    <div class="form-group form-group-inline required">
      <div class="row">
        <div class="col-sm-3">
          <label for="phone">Telefone</label>
        </div>

        <div class="col-sm-9" ng-class="{'has-error': user.phone.$invalid && user.$submitted}">
          <input id="phone" name="phone" type="text" ui-mask-placeholder-char="space" minlength="10" ui-options="{clearOnBlur: false}"
                 ui-mask="99 99999999?9" class="form-control" ng-model="vm.user.phone" required>
          <div class="error"
               ng-if="(user.phone.$invalid || user.phone.$error.mask) && user.$submitted"
               ng-messages="user.phone.$error">
            <span ng-messages-include="modules/core/error-messages.html"></span>
            <label class="error" ng-if="!vm.user.phone && user.phone.$error.mask">Muito curto.</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Gender -->
    <div class="form-group form-group-inline">
      <div class="row">
        <div class="col-sm-3">
          <label>Gênero</label>
        </div>

        <div class="col-sm-9">
          <div class="radio radio-primary">
            <input id="genderMale" name="gender" type="radio" value="male" ng-model="vm.user.gender">
            <label for="genderMale">Masculino</label>
            <input id="genderFeme" name="gender" type="radio" value="female" ng-model="vm.user.gender">
            <label for="genderFeme">Feminino</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Birth Date -->
    <div class="form-group form-group-inline last">
      <div class="row">
        <div class="col-sm-3">
          <label>Data de nascimento</label>
        </div>

        <div class="col-sm-9">
          <ui-select class="col-sm-2 sm-m-b-10" name="birthDateDay" ng-model="vm.selected.day">
            <ui-select-match placeholder="Dia">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="day in vm.days | filter: $select.search">
              <span>{{day}}</span>
            </ui-select-choices>
          </ui-select>

          <ui-select class="col-sm-4 sm-m-b-10" name="birthDateMonth" ng-model="vm.selected.month">
            <ui-select-match placeholder="Mês">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="month in vm.months | filter: $select.search">
              <span>{{month}}</span>
            </ui-select-choices>
          </ui-select>

          <ui-select class="col-sm-2" name="birthDateYear" ng-model="vm.selected.year">
            <ui-select-match placeholder="Ano">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="year in vm.years | filter: $select.search">
              <span>{{year}}</span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="block-action">
      <button type="submit" class="btn btn-bordered btn-rounded btn-lg btn-primary"
      ladda="vm.isRunningUpdateUser">Salvar</button>
    </div>
  </form>
</div>
