<h3 class="tab-heading">Bilhetes</h3>

<div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-if="vm.isLoading"></div>

<div ng-if="!vm.isLoading">
  <div class="form-group-custom clean" ng-show="!vm.emailNotConfirmed && vm.hasTickets">
    <div class="input-group transparent">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Pesquisar bilhete" ng-model="vm.searchTickets">
    </div>

    <div class="clearfix">
      <div class="checkbox check-primary pull-right">
        <span class="m-r-10 muted font-arial">Mostrar bilhetes:</span>

        <input id="active" type="checkbox" ng-model="vm.showActiveTickets" ng-change="vm.concatLists()">
        <label for="active">Ativos</label>

        <input id="finalized" type="checkbox" ng-model="vm.showCompletedTickets" ng-change="vm.concatLists()">
        <label for="finalized">Concluídos</label>

        <input id="canceled" type="checkbox" ng-model="vm.showCanceledTickets" ng-change="vm.concatLists()">
        <label for="canceled">Cancelados</label>

        <input id="expired" type="checkbox" ng-model="vm.showExpiredTickets" ng-change="vm.concatLists()">
        <label for="expired">Expirados</label>
      </div>
    </div>
  </div>

  <div class="block-message block-message-empty" ng-if="!vm.hasTickets && !vm.emailNotConfirmed">
    <h4>Ops! Nenhum ticket para mostrar...</h4>
    <p>Você ainda não possui tickets.</p>
    <br>
  </div>

  <div class="block-message block-message-empty" ng-if="vm.hasTickets && vm.filteredTickets.length === 0 && !vm.emailNotConfirmed">
    <h4>Ops! Nada encontrado...</h4>
    <p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
    <br>
  </div>

  <div class="block-message block-message-empty" ng-if="vm.emailNotConfirmed">
    <h4>Ops! Email não confirmado...</h4>
    <p>Confirme seu email para ter acesso a seus bilhetes.</p>
    <div ng-show="!vm.isSendingEmail && !vm.emailSent">
      <button class="btn btn-primary" type="button" ng-click="vm.resendConfirmationEmail()">
        Reenviar email de confirmação
      </button>
    </div>
    <div ng-show="!vm.isSendingEmail && vm.emailSent">
      <i class="fa fa-check"></i> Email reenviado com sucesso
    </div>
    <div class="progress-circle-indeterminate progress-circle-primary m-t-10" ng-if="vm.isSendingEmail"></div>
  </div>

  <div ng-show="vm.filteredTickets.length > 0">
    <div class="m-b-20 muted font-arial text-small text-center">
      <em>Clique no código do bilhete para alterar seu status e ver mais detalhes</em>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="order" ng-click="vm.setOrder('friendlyCode')" ng-class="{ 'order-asc': vm.order=='friendlyCode', 'order-desc': vm.order=='-friendlyCode' }">Bilhete</th>
            <th class="order" ng-click="vm.setOrder('provider')" ng-class="{ 'order-asc': vm.order=='provider', 'order-desc': vm.order=='-provider' }">Onde</th>
            <th class="order" ng-click="vm.setOrder('estimatedStart')" ng-class="{ 'order-asc': vm.order=='estimatedStart', 'order-desc': vm.order=='-estimatedStart' }">Quando</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ticket in vm.filteredTickets = (vm.tickets | filter: vm.searchTickets | orderBy: vm.order ) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo: vm.itensLimit">
            <td>
              <a href="javascript:;" class="block-ticket-link" ng-click="vm.showTicketDetails(ticket.id)">
                <div class="code">{{ticket.friendlyCode}}</div>
                <div class="status" title="Status">{{'global.status.' + ticket.status.toLowerCase() | translate}}</div>
                <div class="service" title="Serviço">{{ticket.service | capitalize}}</div>
              </a>
            </td>
            <td>
              <strong>{{ticket.provider.name}}</strong> <em>{{ticket.location.name}}</em>
              <br> {{ticket.location.address}}
              <br> {{ticket.location.city}}
            </td>
            <td>
              <div>
                <strong>{{ticket.estimatedStart | date: 'EEEE' | capitalize}}</strong>
                <br> {{ticket.estimatedStart | date: 'longDate' }}
                <br>
                <span title="Previsão de atendimento" ng-if="ticket.prevision">
                <i class="fa fa-clock-o"></i> {{ticket.prevision | date: 'shortTime'}}
              </span>
              </div>
              <span title="Previsão de atendimento" ng-if="!ticket.prevision">
              <i class="fa fa-clock-o"></i> <em>Aguardando confirmação</em>
            </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="m-t-20">
          <span class="m-r-10 muted font-arial">Itens por página</span>
          <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">25</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6 text-right">
        <pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredTickets.length"></pagination>
      </div>
    </div>
  </div>
</div>
