<section class="p-t-70 p-b-20">
  <div class="container">
    <h1 class="text-center text-primary">Avaliação de serviço</h1>
  </div>
</section>

<section class="p-t-20 p-b-20 bg-master-lightest">
  <div class="container">
    <div class="row">

      <div class="progress-circle-indeterminate m-t-45" data-color="primary" ng-show="isLoading"></div>

      <div class="col-md-6" ng-show="!isLoading">
        <div class="panel panel-transparent">
          <div class="panel-heading separator">
            <div class="panel-title">Detalhes do serviço</div>
          </div>

          <div class="panel-body">
            <h3><span class="semi-bold">{{ticket.provider}}</span> ({{ticket.location.name}})</h3>

            <address>
              {{ticket.location.address}}<br>
              {{ticket.location.city}}<br>
              CEP {{ticket.location.zipCode}}
            </address>

            <table class="table m-t-30">
              <tr>
                <th>Bilhete</th>
                <td>{{ticket.friendlyCode}}</td>
              </tr>
              <tr>
                <th>Emissão</th>
                <td>{{ticket.emittedAt | date: 'fullDate' | capitalize}}</td>
              </tr>
              <tr>
                <th>Preferêncial</th>
                <td ng-show="!ticket.especial">Não</td>
                <td ng-show="ticket.especial">Sim</td>
              </tr>
              <tr>
              <tr>
                <th>Preferência de atendimento</th>
                <td ng-show="hasResource">{{ticket.resource}}</td>
                <td ng-show="!hasResource">Nenhum</td>
              </tr>
                <th>Status</th>
                <td>{{'global.status.' + ticket.status.toLowerCase() | translate}} {{ticket.changedStatus | date: 'short'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6" ng-show="!isLoading">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="block-title text-center">Selecione sua nota</h4>
            <div class="block-rating">
              <rating ng-model="feedback.rate" ng-change="changeRate()"></rating>
            </div>

            <div class="form-group p-t-10">
              <h4 class="block-title text-center">Seu comentário</h4>
              <textarea ng-model="feedback.comment" class="form-control" style="height: 130px;" ng-show="!hasUpdated"></textarea>
              <h4 class="text-center" ng-show="hasUpdated">"{{feedback.comment}}"</h4>
            </div>

            <div class="p-t-20">
              <div class="alert alert-info" ng-show="hasUpdated">
                <strong>Avaliado em {{feedback.lastUpdate | date:'short'}}</strong>
              </div>

              <div class="alert alert-success" ng-show="rated">
                <strong>Avaliacão enviada com sucesso</strong>
              </div>
              <div class="alert alert-error" ng-show="error"><strong>Ops!</strong> Algo deu errado... :(</div>

              <div class="text-right sm-text-center" ng-show="!hasUpdated">
                <button class="btn btn-lg btn-cons btn-primary" ng-disabled="rated" ng-click="sendFeedback()">Confirmar avaliação</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
