<div print-section print-only>
  <section class="ticket-details">
    <div class="ticket-details-action">
      <header class="ticket-details-heading">
        <h1>{{vm.ticket.provider.name}}</h1>
        <h2><i class="fa fa-map-marker"></i> {{vm.ticket.location.name}}</h2>
      </header>

      <div class="ticket-details-body">
        <div class="session">
          <div class="service">{{vm.ticket.service.name | capitalize}}</div>
          <div class="resource">{{vm.ticket.resource.name}}, {{vm.ticket.session.estimatedStart | date: 'shortTime'}} às {{vm.ticket.session.estimatedEnd | date: 'shortTime'}}</div>
        </div>

        <div class="code">{{vm.ticket.friendlyCode}}</div>
        <div class="date">{{vm.ticket.session.estimatedStart | date: 'EEEE, d/M/y' | capitalize}}</div>

        <div ng-show="vm.ticket.estimatedServiceStart != null">
          <div class="forecast"><i class="fa fa-clock-o"></i> {{vm.ticket.estimatedServiceStart | date: 'shortTime'}} *</div>
          <div class="note">* A previsão de atendimento pode ser alterada sem prévio aviso</div>
        </div>
      </div>

      <div class="ticket-details-footer" hidden>
        Bilhete gerado em 12/02/2016 12:12:12
      </div>
    </div>
  </section>
</div>

<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()"><i class="pg-close fs-14"></i></button>
    <h2 class="m-b-0 p-b-0"><i class="fa fa-ticket"></i> <span class="semi-bold">{{vm.ticket.friendlyCode}}</span></h2>
    <h5 class="m-t-5 m-b-0 text-primary all-caps semi-bold">{{'global.status.' + vm.ticket.status.toLowerCase() | translate}}</h5>

    <div class="btn-bar">
      <button class="btn btn-sm btn-link btn-primary" print-btn><i class="fa fa-print"></i> Imprimir</button>
    </div>
  </div>

  <div class="modal-body">
    <ul class="nav nav-tabs nav-tabs-simple">
      <li class="active"><a data-toggle="tab" pg-tab href="#ticketZoomDetails"><span>Detalhes</span></a></li>
      <li><a data-toggle="tab" pg-tab href="#ticketZoomActivity"><span>Histórico</span></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="ticketZoomDetails">
        <table class="table table-condensed table-small m-b-0">
          <tr ng-show="vm.hasTicketActions()">
            <td class="muted" style="width: 30%;">Ações</td>
            <td style="width: 70%;">
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ladda="vm.isLoadingAction" ng-click="vm.confirmTicket()" ng-show="vm.canConfirmTicket()"><i class="fa fa-check"></i> Confirmar</button>
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ladda="vm.isLoadingAction" ng-click="vm.checkTicket()" ng-show="false"><i class="fa fa-map-marker"></i> Check-in</button>
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ladda="vm.isLoadingAction" ng-click="vm.cancelTicket()" ng-show="vm.canCancelTicket()"><i class="fa fa-times"></i> Cancelar</button>
            </td>
          </tr>
          <tr>
            <td class="muted">Local</td>
            <td>
              <strong>{{vm.ticket.provider.name}}</strong> ({{vm.ticket.location.name}})
              <br> {{vm.ticket.location.address}}
              <br> Aracaju-SE, CEP 48000-000
            </td>
          </tr>
          <tr>
            <td class="muted">Serviço</td>
            <td>
              <strong>{{vm.ticket.service.name | capitalize}}</strong>
              <br> {{vm.ticket.resource.name}}
            </td>
          </tr>
          <tr>
            <td class="muted">Data</td>
            <td>
              <strong>{{vm.ticket.session.estimatedStart | date:'EEEE' | capitalize}}</strong>
              <br> {{vm.ticket.session.estimatedStart | date: 'longDate'}}
              <br>
            </td>
          </tr>
          <tr>
            <td class="muted">Horário</td>
            <td>{{vm.ticket.session.estimatedStart | date: 'shortTime'}} às {{vm.ticket.session.estimatedEnd | date: 'shortTime'}}</td>
          </tr>
          <tr>
            <td class="muted">Previsão</td>
            <td ng-show="vm.ticket.estimatedServiceStart != null"><strong>{{vm.ticket.estimatedServiceStart | date: 'shortTime'}}</strong></td>
            <td ng-show="!vm.ticket.isConfirmed"><strong>Aguardando confirmação.</strong></td>
            <td ng-show="!vm.ticket.estimatedServiceStart && vm.ticket.isConfirmed"><strong>Aguardando cálculo da previsão.</strong></td>
          </tr>
          <tr>
            <td class="muted">Avaliação</td>
            <td ng-show="vm.hasFeedback()">
              <div class="text-primary">
                <rating ng-model="vm.ticket.feedback.rate" max="5" readonly="true" state-on="'fa fa-star'" disabled></rating>
              </div>
              <div class="m-t-5 m-b-5 white-space-normal" ng-show="vm.ticket.feedback.comment != null">"{{vm.ticket.feedback.comment}}"</div>
              <div class="m-t-5 m-b-5 white-space-normal" ng-show="vm.ticket.feedback.comment == null">Nenhum comentario.</div>
              <div class="muted"><em>Avaliado em {{vm.ticket.feedback.lastUpdate | date: 'medium'}}</em></div>
            </td>
            <td ng-show="!vm.hasFeedback()">
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ng-click="vm.sendFeedback(vm.ticket)" ng-disabled="!vm.canSendFeedback()"><i class="fa fa-star"></i> Avaliar agora</button>
            </td>
          </tr>
        </table>
      </div>

      <div class="tab-pane fade" id="ticketZoomActivity">
        <table class="table table-condensed table-small m-b-0">
          <tr ng-repeat="activity in vm.ticket.activities">
            <td><strong>{{activity.at | date: 'shortTime'}}</strong></td>
            <td>{{activity.at | date: 'shortDate'}}</td>
            <td class="text-right"><span class="label">{{'global.status.' + activity.name.toLowerCase() | translate}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
