@media print

  // Ticket details
  .ticket-details
    width: 58mm
    padding: 15px
    border: 1px dotted #000
    text-align: center

  .ticket-details-heading
    h1
      font:
        weight: bold
        size: 17px
        family: $font-default
      line-height: 100%

    h2
      font:
        weight: normal
        size: 13px
        family: $font-default
      line-height: 100%

  .ticket-details-body
    margin: 10px 0
    padding: 10px 0
    border: 1px solid #000
    border:
      left: none
      right: none

    .session
      .service
        font:
          weight: bold
          size: 12px
          family: $font-default
        line-height: 100%

      .resource
        margin-top: 2px
        font:
          weight: normal
          size: 11px
          family: $font-default
        line-height: 100%

    .code
      margin-top: 10px
      font:
        weight: bold
        size: 30px
        family: $font-default
      line-height: 100%

    .date
      margin-top: 10px
      font:
        weight: bold
        size: 11px
        family: $font-default
      line-height: 100%

    .forecast
      margin-top: 5px
      font:
        weight: bold
        size: 11px
        family: $font-default
      line-height: 100%

    .note
      margin-top: 10px
      font:
        weight: normal
        size: 10px
        family: $font-default
      line-height: 100%

  .ticket-details-footer
    font:
      weight: normal
      style: italic
      size: 10px
      family: $font-default
    line-height: 100%
