// Medium screen
@media (max-width: $screen-medium)
  .header
    .header-inner
      line-height: 53px

  .fimagel
    height: 350px
    overflow: hidden

// Small screen
@media (max-width: $screen-small)
