<h3 class="tab-heading">Atividades</h3>

<div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-if="vm.isLoading"></div>

<div ng-if="!vm.isLoading">
  <div class="form-group-custom clean" ng-show="!vm.emailNotConfirmed && vm.activities.length !== 0">
    <div class="input-group transparent">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Pesquisar atividade" ng-model="vm.searchActivity">
    </div>
  </div>

  <div class="block-message block-message-empty" ng-if="vm.activities.length === 0 && !vm.emailNotConfirmed">
    <h4>Ops! Nenhuma atividade para mostrar...</h4>
    <p>Você ainda não possui atividades.</p>
  </div>

  <div class="block-message block-message-empty" ng-if="vm.emailNotConfirmed">
    <h4>Ops! Email não confirmado...</h4>
    <p>Confirme seu email para ter acesso a suas atividades.</p>
    <div ng-show="!vm.isSendingEmail && !vm.emailSent">
      <button class="btn btn-primary" type="button" ng-click="vm.resendConfirmationEmail()">
        Reenviar email de confirmação
      </button>
    </div>
    <div class="progress-circle-indeterminate progress-circle-primary m-t-10" ng-if="vm.isSendingEmail"></div>
    <div ng-show="!vm.isSendingEmail && vm.emailSent">
      <i class="fa fa-check"></i> Email reenviado com sucesso
    </div>
  </div>

  <div class="block-message block-message-empty" ng-if="vm.filteredActivities.length === 0 && vm.activities.length > 0">
    <h4>Ops! Nada encontrado...</h4>
    <p>
      Sua pesquisa/filtro não encontrou nenhum resultado correspondente.
      <br> Você pode pesquisar pelo nome da atividade ou pelo bilhete.
    </p>
  </div>

  <div ng-show="vm.filteredActivities.length !== 0">
    <div class="m-b-20 muted font-arial text-small text-center">
      <em>Clique no código do bilhete ver mais detalhes</em>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Bilhete</th>
          <th>Data/Hora</th>
          <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="activity in vm.filteredActivities = (vm.activities | filter: vm.searchActivity | orderBy: vm.order | limitTo: vm.itensLimit)">
          <td>
            <a href="javascript:;" class="block-ticket-link" ng-click="vm.ticketsDetails(activity.ticketId)">
              <div class="code">{{activity.friendlyCode}}</div>
            </a>
          </td>
          <td>
            {{activity.dateTime | date: 'short'}}
          </td>
          <td>
            <div class="label">{{'global.status.' + activity.actionName.toLowerCase() | translate}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="m-t-20">
          <span class="m-r-10 muted text-small font-arial">Itens por página</span>

          <ui-select class="col-sm-3" id="itens" name="itens" ng-model="vm.itensLimit" ng-change="vm.changePage()">
            <ui-select-match>{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="option in vm.options">
              <div>{{option}}</div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-sm-6 text-right" ng-if="vm.totalActivities > vm.itensLimit">
        <pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.totalActivities"
                    ng-change="vm.changePage()"></pagination>
      </div>
    </div>
  </div>
</div>
