<nav class="header static" data-pages="header">
  <nav class="header relative dark-solid">
    <div class="container relative">
      <div class="pull-left">
        <div class="header-inner">
          <a href="#/home"><img src="assets/images/custom/logo_white.png" class="logo" alt=""></a>
        </div>
      </div>

      <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right" data-pages="header-toggle" data-pages-element="#header">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>

      <div class="pull-right hidden-xs hidden-sm">
        <div class="header-inner">
          <ul class="menu secondary no-padding">
            <li><a class="text-white fs-16" target="_blank" href="https://facebook.com/filazeroofficial" title="Filazero no Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </nav>

  <nav class="header sm-header relative horizontal dark sm-p-t-20" data-header-sticker>
    <div class="container relative">
      <div class="menu-content" data-pages-direction="slideRight" id="header">
        <div class="pull-right">
          <a href="#" class="text-black link padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10" data-pages="header-toggle" data-pages-element="#header"><i class="pg-close_line"></i></a>
        </div>

        <div class="pull-left sm-block sm-full-width">
          <div class="header-inner">
            <a href="#/home" class="menu-logo"><img src="assets/images/custom/logo_white.png" alt=""></a>
            <ul class="menu no-padding">
              <li><a href="javascript:;" ng-click="goTo('app.home')">Home</a></li>
              <li><a href="javascript:;" ng-click="goTo('app.consumer')">Você</a></li>
              <li><a href="javascript:;" ng-click="goTo('app.corporate')">Empresas</a></li>
              <li><a href="javascript:;" ng-click="goTo('app.explore')">Explore</a></li>
              <li><a href="javascript:;" ng-click="goTo('app.about')">Sobre</a></li>
              <li><a href="javascript:;" ng-click="goTo('app.contact')">Contato</a></li>
              <li data-pages="header-toggle" class="visible-sm visible-xs" ng-if="authentication.isAuth"><a href="javascript:;" ng-click="goTo('app.account.overview')">Minha conta</a></li>
              <li data-pages="header-toggle" class="visible-sm visible-xs" ng-if="authentication.isAuth"><a href="javascript:;" ng-click="logOut()">Sair</a></li>
            </ul>
          </div>
        </div>

        <div class="pull-right sm-block sm-full-width" ng-if="authentication.isAuth">
          <div class="visible-lg visible-md m-t-10">
            <div class="dropdown pull-right account">
              <button class="profile-dropdown-toggle fs-16 text-white" data-toggle="dropdown">
                {{user.firstName}} {{user.lastName}} <i class="fa fa-user p-l-5"></i>
              </button>
              <ul class="dropdown-menu profile-dropdown">
                <li><a href="#/app/account/overview">Minha conta</a></li>
                <li><a href="#/app/account/tickets">Bilhetes</a></li>
                <li><a href="#/app/account/activities">Atividades</a></li>
                <li class="bg-master-lighter">
                  <a href="#/app/login" ng-click="logOut()" class="clearfix">
                    <span class="pull-left">Sair</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="pull-right sm-block sm-full-width" data-ng-if="!authentication.isAuth">
          <div class="header-inner">
            <ul class="menu no-padding">
              <li><a href="javascript:;" ng-click="register()">Cadastre-se</a></li>
              <li class="no-margin"><a href="" ng-click="goTo('app.login')">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>

<script src="assets/scripts/main.js"></script>
