<section class="billboard full-vh" style="background-image: url('assets/images/hero_6.jpg');">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle">
      <div class="content-layer">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            <div class="col-xs-height col-middle text-center">
              <h1 class="text-ultra text-white font-montserrat">Não espere mais em filas</h1>
              <h3 class="text-white">A solução inteligente para gerenciamento de atendimento</h3>
              <a href="#/app/consumer" class="btn btn-lg btn-rounded btn-white m-t-10 font-montserrat all-caps">Como funciona</a>

              <div class="separate">
                <h4>Download</h4>
                <a href="https://play.google.com/store/apps/details?id=com.inventione.filazero" target="_blank"><img src="assets/images/button-googleplay.png" height="45" alt="Google Play"></a>
                <a href="https://itunes.apple.com/us/app/filazero/id1077360648?l=pt&ls=1&mt=8" target="_blank"><img src="assets/images/button-applestore.svg" height="45" alt="App Store"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid p-t-60 p-b-60 b-white">
  <div class="col-sm-8 col-sm-offset-2 p-b-30 text-center">
    <h1>Mudando a forma como você e as empresas lidam com as filas de atendimento no mundo</h1>
  </div>

  <div class="row">
    <div ui-sref="app.consumer" class="col-md-6 text-center bg-success hover-push demo-story-block">
      <div class="hover-backdrop" style="background:url('assets/images/feature_3.jpg')"></div>
      <div class="hover-caption bottom-left bottom-right p-b-40">
        <h1 class="font-montserrat text-white m-b-25">Você</h1>
        <a href="#/app/consumer" class="font-montserrat fs-12 hint-text text-white all-caps">Saiba mais</a>
      </div>
    </div>
    <div ui-sref="app.corporate" class="col-md-6 text-center bg-success hover-push demo-story-block">
      <div class="hover-backdrop" style="background:url('assets/images/feature_1.jpg')"></div>
      <div class="hover-caption bottom-left bottom-right p-b-40">
        <h1 class="font-montserrat text-white m-b-25">Empresas</h1>
        <a href="#/app/corporate" class="font-montserrat fs-12 hint-text text-white all-caps">Saiba mais</a>
      </div>
    </div>
</section>

<section class="p-b-20">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="m-t-5 text-primary">Ingresse  em uma fila de qualquer lugar, a qualquer hora e não espere fisicamente</h1>
        <img src="assets/images/arrow_down.png" class="m-t-30" alt="">
      </div>
    </div>
  </div>
</section>

<section class="text-center no-overflow">
  <img src="assets/images/devices.png" alt="" class="image-responsive-width md-image-responsive-height">
</section>

<section class="p-t-30 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center sm-m-b-30">
        <h3 class="m-b-5 text-primary">Eficiente</h3>
        <h5 class="no-margin p-t-10 p-b-5">Você será notificado que a sua vez se aproxima</h5>
      </div>
      <div class="col-sm-4 text-center sm-m-b-30">
        <h3 class="m-b-5 text-primary">Prático</h3>
        <h5 class="no-margin p-t-10 p-b-5">Você é livre para usar o tempo a seu favor, sem esperas presenciais</h5>
      </div>
      <div class="col-sm-4 text-center">
        <h3 class="m-b-5 text-primary">Seguro</h3>
        <h5 class="no-margin p-t-10 p-b-5 sm-inline">Se você perder sua vez não se desespere, você ainda poderá ser atendido</h5>
      </div>
    </div>
  </div>
</section>
