// Toast
#toast-container
  &.toast-top-right
    right: 15px
    top: 44px

  > div,
  > :hover
    +border-radius(0)
    +box-shadow(0 6px 4px -3px rgba(0,0,0,0.2))
    +opacity(1)

    padding: 25px 35px
    border-width: 1px
    font:
      size: 13px
      family: $font-system

  > .toast-info,
  > .toast-wait,
  > .toast-error,
  > .toast-success,
  > .toast-warning
    background-image: none !important

  =type($name, $color, $background-color)
    .#{$name}
      background-color: $background-color
      color: $color
      border-color: $color

      .toast-close-button
        color: $color

  +type('toast-info', #2b6a94, #daeffd)
  +type('toast-wait', #e6e6e6, #fff)
  +type('toast-error', #933432, #fddddd)
  +type('toast-success', #0a7c71, #cff5f2)
  +type('toast-warning', #957d32, #fef6dd)

  .toast-close-button
    color: #ce8f22
    font-family: $font-default

  .toast-close-button
    +text-shadow(0)
    +opacity(0.8)

    top: 0

    &:hover
      opacity: 1

  // Responsivity
  @media (max-width: $screen-medium)
    &.toast-top-right
      top: 60px
