.billboard
  z-index: 0
  position: relative
  margin-top: -50px
  background:
    position: 50% 50%
    repeat: no-repeat
    size: 100% auto

  @media (max-width: $screen-small)
    padding-top: 45px
    background-size: auto 100%

  .separate
    margin-top: 30px
    padding-top: 30px
    border-top: 1px solid rgba(255, 255, 255, 0.2)

    h4
      margin: 0 0 15px
      color: #fff
      font:
        weight: bold
        size: 1.2em
        family: $font-heading
      line-height: 100%
      text-transform: uppercase
