// Panel
.block-panel
  .panel
    +transition(all 0.1s)

    height: 185px
    overflow: hidden
    position: relative
    border-top: 1px solid map-get($color-custom, 1)
    color: #999

    .panel-heading
      margin-bottom: 10px
      padding-bottom: 10px

    .panel-title
      font-size: 1em
      color: map-get($color-custom, 1)

    .panel-subtitle
      color: map-get($color-custom, 1)
      font:
        style: italic
        size: 0.9em
        family: $font-system

    .panel-body
      font:
        size: 0.9em
        family: $font-system

    .panel-sub
      position: absolute
      right: 15px
      bottom: 10px
      font:
        size: 0.8em
        family: $font-system

  &:hover
    .panel
      background: rgba(0, 0, 0, 0.01)
      color: $color-dark

  .progress
    width: 100%
    position: absolute
    left: 0
    top: 0

// Message
.block-message
  width: 70%
  margin: 30px auto
  text-align: center

  h4
    color: rgba(0, 0, 0, 0.5)
    font-family: $font-heading
    line-height: 130%

  p
    color: rgba(0, 0, 0, 0.3)
    font:
      size: 1.1em
      family: $font-system
    line-height: 120%

  .btn
    margin-top: 15px

  &:before
    $size: 100px
    +icon
    +border-radius(100%)
    +box-shadow(1px 1px 0 rgba(0, 0, 0, 0.1))

    width: $size
    height: $size
    content: '\f135'
    margin-bottom: 10px
    background: rgba(0, 0, 0, 0.05)
    color: rgba(0, 0, 0, 0.1)
    font-size: 50px
    line-height: $size
    text-align: center

.block-message-dialog
  h4
    color: $color-dark

=block-message($name, $icon, $color: $color-dark)
  .block-message-#{$name}
    &:before
      content: $icon

    &.block-message-color
      &:before
        +box-shadow(1px 1px 0 rgba($color, 0.6))

        background: rgba($color, 0.4)
        color: #fff

+block-message('warning', '\f071', $color-warning)
+block-message('success', '\f00c', $color-success)
+block-message('danger', '\f00d', $color-danger)
+block-message('empty', '\f0f4')
+block-message('suport', '\f1cd')

// Step
.block-step
  min-height: 380px

  .datepicker-inline
    width: 90%
    margin: 0 auto

    .table-condensed
      width: 100%

  .form-group,
  .form-group-custom
    &:last-child
      margin-bottom: 0

  @media (max-width: $screen-medium)
    min-height: auto
    margin-top: 20px
    border: none !important

// Rating
.block-rating
  text-align: center

  *
    outline: 0

  i
    cursor: pointer
    color: map-get($color-custom, 1)
    font-size: 40px

// Action
.block-action
  margin-top: 30px
  padding-top: 20px
  border-top: 4px solid $color-lighter
  text-align: right

  .btn
    margin-right: 0

  @media (max-width: $screen-small)
    text-align: center

// Separate
.block-separate
  margin: 30px 0
  padding: 30px 0
  border: 4px solid $color-lighter
  border:
    left: none
    right: none

  .btn
    margin-top: 0 !important

.block-separate-top
  margin-bottom: 0
  padding-bottom: 0
  border-bottom: none

.block-separate-bottom
  margin-top: 0
  padding-top: 0
  border-top: none

// Legend
.block-legend
  margin: 15px 0
  color: darken($color-light, 15%)

  .item
    display: inline-block
    margin-right: 10px
    font:
      size: 0.8em
      family: $font-system

    &:before
      @extend %icon

      content: '\f111'
      margin-right: 5px
      font-size: 13px

    =item($name, $color)
      &.#{$name}
        &:before
          color: $color

    +item('warning', $color-warning)
    +item('success', $color-success)
    +item('danger', $color-danger)
    +item('info', $color-info)

    +item('warning-light', $color-warning-light)
    +item('success-light', $color-success-light)
    +item('danger-light', $color-danger-light)
    +item('info-light', $color-info-light)

    +item('ticket-next', map-get($color-ticket, next))
    +item('ticket-called', map-get($color-ticket, called))
    +item('ticket-finalized', map-get($color-ticket, finalized))
    +item('ticket-canceled', map-get($color-ticket, canceled))
    +item('ticket-checked', map-get($color-ticket, checked))
    +item('ticket-confirmed', map-get($color-ticket, confirmed))
    +item('ticket-scheduled', map-get($color-ticket, scheduled))

// Hover
.block-hover
  &:focus,
  &:hover
    .block-hover-content
      display: inline-block

  .block-hover-content
    display: none

// Heading
.block-heading
  margin: 0 0 20px
  color: $color-light
  font:
    weight: normal
    size: 1.3em
    family: $font-heading

  &:before
    @extend %icon

    content: '\f063'
    margin-right: 5px
    color: $color-lighter

// Title
.block-title
  display: block
  color: $color-dark
  font:
    weight: 600
    size: 12px
    family: $font-heading
  letter-spacing: .02em
  text-transform: uppercase

// Ticket link
.block-ticket-link
  display: block
  position: relative
  padding-left: 25px

  &:focus,
  &:active,
  &:hover
    .status,
    .service
      color: $color-dark

    &:before
      color: map-get($color-custom, 1)

  &:before
    @extend %icon
    +transition(all 0.1s)

    content: '\f145'
    position: absolute
    left: 0
    top: 5px
    color: map-get($color-custom, 2)
    font-size: 18px

  .code
    color: map-get($color-custom, 1)
    font:
      weight: normal
      size: 1.5em
      family: $font-heading

  .status
    color: darken($color-light, 20%)
    font-weight: bold

  .service
    color: darken($color-light, 20%)

// Icon
.block-icon
  $size: 160px

  display: block
  width: $size
  height: $size
  color: map-get($color-custom, 1)
  text-align: center

  &:before
    font:
      size: $size
      family: map-get($font-icon, 3)
    line-height: $size

  =block-icon($name, $icon)
    &.block-icon-#{$name}
      &:before
        content: $icon

  +block-icon('bar-chart', '\e6ba')
  +block-icon('bell', '\e6b8')
  +block-icon('eye', '\e63d')
  +block-icon('mobile', '\e621')
  +block-icon('search', '\e610')
  +block-icon('star', '\e60a')
  +block-icon('stats-up', '\e673')
  +block-icon('target', '\e607')
  +block-icon('time', '\e72b')
  +block-icon('timer', '\e66e')
