.boxtab
  @extend %clearfix

.boxtab-nav
  width: 220px
  float: left

  ul
    padding: 0

  li
    display: block
    padding: 0
    line-height: 100%

    &.active
      a
        color: map-get($color-custom, 1)

  a
    +transition(all 0.1s)

    display: block
    position: relative
    padding: 20px 20px 20px 40px
    border-bottom: 1px solid $color-lighter
    color: $color-light
    font:
      size: 0.8em
      family: $font-heading
    text:
      transform: uppercase

    &:focus,
    &:hover
      color: $color-dark

    i
      position: absolute
      left: 10px
      top: 15px
      font-size: 20px

    &:after
      @extend %icon

      content: '\f105'
      position: absolute
      right: 10px
      top: 15px
      font-size: 20px

.boxtab-content
  padding-left: 250px

  .tab-content
    width: 100%
    min-height: 330px
    float: left
    padding: 0 30px 30px
    border-left: 1px solid $color-lighter

  .tab-heading
    margin-bottom: 20px
    font:
      weight: normal
      size: 1.5em
      family: $font-heading

// Responsive
@media (max-width: $screen-medium)
  .boxtab-nav
    width: 100%
    float: none

  .boxtab-content
    margin-top: 20px
    padding: 0

    .tab-content
      padding: 0
      min-height: auto
      border: none

    .tab-heading
      text-align: center
