.breadcrumb
  margin-bottom: 20px
  padding: 0
  background: none
  font-size: 0.9em

  li
    + li
      &:before
        +icon

        content: '\f105'
        margin-right: 3px

  a
    color: map-get($color-custom, 1)
