.btn-short
  padding:
    left: 8px
    right: 8px
  border-color: transparent
  background: none
  color: map-get($color-custom, 1)

  i
    font-size: 16px

  &:hover
    border-color: transparent
    background: none
    color: map-get($color-custom, 2)

.btn-link
  background: none
  color: map-get($color-custom, 1)

  &:focus,
  &:hover
    background: none
    color: map-get($color-custom, 2)

.btn-bordered
  border: 2px solid map-get($color-custom, 1)
  background-color: transparent
  color: map-get($color-custom, 1)

  &:hover
    border: 2px solid map-get($color-custom, 1)
    background-color: map-get($color-custom, 1)
    color: #fff

.btn-bar
  margin-top: 10px
  padding-top: 5px
  border-top: 1px solid map-get($color-custom, 1)
  text-align: right

  .btn
    margin: 0 2px
    border: none
