// Header
.header
  .dark-solid,
  .dark
    background-color: map-get($color-custom, 1)

  .menu
    +transition(all 0.4s)

  .menu-logo
    +opacity(0)

    visibility: hidden
    position: absolute
    top: -3px
    left: 0

    img
      height: 30px

  .account
    padding-right: 30px

    .profile-dropdown
      margin: 5px 20px 0 0

  &.affix
    .menu
      margin-left: 140px

    .menu-logo
      +opacity(1)

      visibility: visible

// Page content
.page-content
  margin-top: 44px
  padding-top: 20px

// Panel
.panel
  @media (max-width: $screen-small)
    &.panel-group
      > .panel-heading,
      > .panel-body
        padding: 20px 0 7px !important

.panel-group
  .panel-heading
    &.large
      .panel-title
        > a
          color: map-get($color-custom, 1) !important
          font:
            size: 1.7em
            family: $font-heading
          text-transform: none

          &:after
            color: $color-light !important
            font-size: 20px

// Demo browser
#demo-content-3
  min-height: 490px

  .demo-browser-desktop,
  .demo-browser-ipad,
  .demo-browser-phone
    +box-shadow(0 0 10px 1px rgba(0, 0, 0, 0.1))
    +border-radius($main-border-radius)

  .demo-browser-desktop
    bottom: -30px
    margin-left: -452px

  @media (max-width: $screen-medium)
    min-height: 390px

  @media (max-width: $screen-small)
    min-height: 360px

// UI Select Bootstrap
.ui-select-bootstrap
  .ui-select-choices-row
    &.active.disabled,
    &.disabled
      > a
        color: $color-light

// Radio
.radio
  font-family: $font-system

  input
    &[type=radio][disabled]
      + label
        +opacity(0.3)
