label
  &.error
    margin: -7px 0 10px
    padding: 0
    color: $color-danger
    font-size: 0.9em

    &:before
      @extend %icon

      content: '\f06a'
      margin-right: 5px

.form-group
  margin-bottom: 20px

  &.has-error
    border-color: $color-danger-light !important

.form-group-custom
  +border-radius(2px)

  margin-bottom: 20px
  padding: 7px 12px 4px
  border: 1px solid rgba(0, 0, 0, .07)

  &.clean
    padding: 0
    border: none

  > label
    font:
      size: 11px
      family: $font-heading
      weight: 600
    text-transform: uppercase

  .table
    margin: 0

    tr
      &:last-child
        td
          border: none

.form-group-light
  background: $color-lighter

.form-group-default-select
  padding-bottom: 10px

  .ui-select-container
    margin-top: 5px

.form-group-inline
  margin: 0
  padding: 20px 0
  border-bottom: 1px dotted $color-lighter

  &.last
    border-bottom: none

  label
    margin-top: 7px

  .radio,
  .checkbox
    label
      margin:
        top: 0
        bottom: 0
      font:
        weight: normal
        size: 1em
        family: $font-system
      text-transform: none

.input-loading
  background:
    image: image-url('progress/progress-circle-primary.svg')
    position: 99% 50%
    repeat: no-repeat
    size: auto 25px

.checkbox
  label
    &:after
      left: 3px
      top: 1.3px
