// Header
.header
  .dark-solid,
  .dark
    background-color: map-get($color-custom, 1)

  .menu
    +transition(all 0.4s)

  .menu-logo
    +opacity(0)

    visibility: hidden
    position: absolute
    top: -3px
    left: 0

    img
      height: 30px

  .account
    padding-right: 30px

    .profile-dropdown
      margin: 5px 20px 0 0

  &.affix
    .menu
      margin-left: 140px

    .menu-logo
      +opacity(1)

      visibility: visible

// Page content
.page-content
  margin-top: 44px
  padding-top: 20px

// Panel
.panel-group
  .panel-heading
    &.large
      .panel-title
        > a
          color: map-get($color-custom, 1) !important
          font:
            size: 1.7em
            family: $font-heading
          text-transform: none

          &:after
            color: $color-light !important
            font-size: 20px
