.list-rating
  @extend %clearfix

  li
    display: inline

    &.on,
    &.on-hover
      a
        color: map-get($color-custom, 1)

    &.off-hover
      a
        color: $color-light

  a
    +transition(all 0.1s)

    display: block
    float: left
    padding: 3px
    text-decoration: none
    color: $color-light

    &:before
      @extend %icon

      content: '\f005'
      font-size: 25px

    &:hover
      color: map-get($color-custom, 1)

.list-footer
  margin-top: 15px
  padding: 0
  text-align: right

  li
    display: inline-block
    margin-left: 10px
    font:
      size: 0.9em
      family: $font-system

  @media (max-width: $screen-medium)
    padding-top: 20px
    text-align: center

    li
      margin: 0 5px
