#scrolltop
  +border-top-radius($main-border-radius)
  +opacity(0.5)
  +transition(all 0.1s)

  display: none
  width: 45px
  height: 45px
  position: fixed
  right: 10px
  bottom: 0
  padding: 0
  border: none
  background: map-get($color-custom, 1)
  color: #fff
  text-align: center

  &:hover
    +opacity(1)

  &:before
    @extend %icon

    content: '\f106'
    font-size: 30px
