<section class="p-t-70 p-b-20 bg-master-lightest">
  <div class="container">
    <h1 class="text-center text-primary">Sobre</h1>
  </div>
</section>

<section class="p-t-60 p-b-60 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <img src="assets/images/logo-filazero-vertical.png" alt="Logo Filazero" class="md-image-responsive-height sm-p-b-20">
      </div>
      <div class="col-sm-5">
        <h3><span class="semi-bold">Filazero</span> é um aplicativo que conecta as pessoas aos serviços das empresas de forma eficiente, eliminando a espera em filas em diversas áreas empresariais. Além disso, melhora a experiência dos clientes com o atendimento em serviços que dependam do uso de filas para sua operação.</h3>
      </div>
    </div>
  </div>
</section>
