<label class="error" ng-message="required">Este campo é obrigatório.</label>
<label class="error" ng-message="minlength">Muito curto.</label>
<label class="error" ng-message="email">Este endereço de email é inválido.</label>
<label class="error" ng-message="recaptcha">É necessário resolver o recaptcha.</label>
