<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="filazero-site" ng-controller="AppController">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title ng-bind="page.title"></title>
  <meta content="{{page.description}}" name="description">
  <link id="lazyload_placeholder">

  <!-- build:css assets/styles/default.css -->

    <link rel="stylesheet" href="assets/plugins/pace/pace-theme-flash.css">
    <link rel="stylesheet" href="assets/plugins/boostrapv3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="assets/plugins/angularPrint/angularPrint.css">
    <link rel="stylesheet" href="assets/plugins/swiper/css/swiper.css">
    <link rel="stylesheet" href="assets/plugins/ladda/dist/ladda.min.css">
    <link rel="stylesheet" href="assets/styles/main.css">

  <!-- endbuild -->
</head>
<body>
  <toaster-container></toaster-container>

  <div ui-view></div>

  <!-- Analytics -->
  <script>
    if (/filazero\.net/.test(window.location.hostname)) {
      var analytics = true;

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74300056-1', 'auto');
      ga('send', 'pageview');
    }
  </script>

  <!-- Recaptcha API -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

  <!-- build:js assets/scripts/default.js -->

    <!-- Base -->
    <script src="assets/plugins/pace/pace.min.js"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/swiper/js/swiper.jquery.min.js"></script>
    <script src="assets/plugins/velocity/velocity.min.js"></script>
    <script src="assets/plugins/velocity/velocity.ui.js"></script>
    <script src="assets/plugins/ladda/dist/spin.min.js"></script>
    <script src="assets/plugins/ladda/dist/ladda.min.js"></script>
    <script src="assets/plugins/angular/angular.js"></script>
    <script src="assets/plugins/angular-messages/angular-messages.min.js"></script>
    <script src="assets/plugins/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="assets/plugins/angular-ui-bootstrap/ui-bootstrap-0.13.1.js"></script>
    <script src="assets/plugins/angular-ui-util/ui-utils.min.js"></script>
    <script src="assets/plugins/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="assets/plugins/angular-pusher.js"></script>
    <script src="assets/plugins/angular-oc-lazyload/ocLazyLoad.min.js"></script>
    <script src="assets/plugins/angular-resource/angular-resource.min.js"></script>
    <script src="assets/plugins/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="assets/plugins/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
    <script src="assets/plugins/angular-animate/angular-animate.min.js" ></script>
    <script src="assets/plugins/AngularJS-Toaster/toaster.min.js"></script>
    <script src="assets/plugins/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="assets/plugins/angular-translate/angular-translate.min.js"></script>
    <script src="assets/plugins/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="assets/plugins/angular-ui/mask.min.js" type="text/javascript"></script>
    <script src="assets/plugins/angularPrint/angularPrint.js"></script>

    <!-- Init -->
    <script src="app.js"></script>
    <script src="modules/core/config/app.config.js"></script>
    <script src="modules/core/config/app.constants.js"></script>
    <script src="modules/core/config/app.run.js"></script>
    <script src="modules/core/config/app.routes.js"></script>
    <script src="modules/core/config/config.lazyload.js"></script>
    <script src="modules/core/virtual-page.js"></script>
    <script src="modules/core/request-interceptor.js"></script>
    <script src="modules/core/main.js"></script>
    <script src="layouts/header/header.controller.js"></script>
    <script src="modules/signup/signup-modal.controller.js"></script>

    <!-- Services -->
    <script src="services/auth.service.js"></script>
    <script src="services/auth-interceptor.service.js"></script>

    <!-- Routes -->
    <script src="modules/auth/login.routes.js"></script>
    <script src="modules/signup/signup.routes.js"></script>
    <script src="modules/consumer/consumer.routes.js"></script>
    <script src="modules/corporate/corporate.routes.js"></script>
    <script src="modules/self-service/self-service.routes.js"></script>
    <script src="modules/explore/explore.routes.js"></script>
    <script src="modules/about/about.routes.js"></script>
    <script src="modules/contact/contact.routes.js"></script>
    <script src="modules/feedback/feedback.routes.js"></script>
    <script src="modules/account/account.routes.js"></script>
    <script src="modules/terms/terms.routes.js"></script>

    <!-- Directives -->
    <script src="directives/pg-sidebar.js"></script>
    <script src="directives/cs-select.js"></script>
    <script src="directives/pg-dropdown.js"></script>
    <script src="directives/pg-form-group.js"></script>
    <script src="directives/pg-navigate.js"></script>
    <script src="directives/pg-portlet.js"></script>
    <script src="directives/pg-tab.js"></script>
    <script src="directives/pg-search.js"></script>
    <script src="directives/skycons.js"></script>
    <script src="directives/focus-me.directive.js"></script>
    <script src="directives/include-replace.directive.js"></script>

    <!-- Filters -->
    <script src="filters/capitalize.filter.js"></script>

  <!-- endbuild -->

  <!-- build:remove -->

    <!-- Tests -->
    <script src="assets/plugins/angular-mocks/angular-mocks.js"></script>
    <script src="test/mock.js"></script>

  <!-- endbuild -->
</body>
</html>
