<section class="p-t-70 p-b-20">
  <div class="container">
    <h1 class="text-center text-primary">Criar nova senha</h1>
  </div>
</section>

<section class="p-t-20 p-b-20 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alert alert-error" ng-show="vm.hasError && !vm.invalidRequestToken"><strong>Ops!</strong> Algo deu errado... :(</div>
            <div class="alert alert-error" ng-show="vm.hasError && vm.invalidRequestToken"><strong>Ops!</strong> A senha já foi recuperada através desse link.</div>

            <div class="block-message block-message-color block-message-success" ng-show="vm.resetedPassword">
              <h4>Tudo pronto!</h4>
              <p>Agora você pode acessar o <strong>Filazero</strong> com a sua nova senha.</p>
            </div>

            <form name="newPassword" ng-submit="vm.resetPassword(vm.passwordObject)" ng-show="!vm.resetedPassword" novalidate>
              <div class="form-group form-group-default required" ng-class="{'has-error': newPassword.password.$invalid && newPassword.$submitted}">
                <label for="newPassword">Nova senha</label>
                <input id="newPassword" type="password" name="password" minlength="6" ng-model="vm.passwordObject.newPassword" class="form-control"
                  required>
              </div>
              <div ng-if="newPassword.password.$invalid && newPassword.$submitted" ng-messages="newPassword.password.$error">
                <div ng-messages-include="modules/core/error-messages.html"></div>
              </div>

              <div class="form-group form-group-default required" ng-class="{'has-error': newPassword.confirmNewPassword.$invalid && newPassword.$submitted}">
                <label for="confirmNewPassword">Confirmar Senha</label>
                <input id="confirmNewPassword" type="password" name="confirmNewPassword" minlength="6" ng-model="vm.passwordObject.confirmNewPassword"
                  class="form-control" required>
              </div>
              <div ng-if="newPassword.confirmNewPassword.$invalid && newPassword.$submitted" ng-messages="newPassword.confirmNewPassword.$error">
                <div ng-messages-include="modules/core/error-messages.html"></div>
              </div>
              <button type="submit" class="btn btn-lg btn-block btn-primary" ladda="vm.isLoadingResetPassword">Continuar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
