<section class="p-t-80 p-b-90 bg-master-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h3 class="text-white col-sm-12 p-b-10">Espere menos, faça mais.</h3>
          <a href="#/app/explore" data-scrolltop class="btn btn-lg btn-primary btn-cons btn-rounded"><strong>Explore</strong> lugares que usam Filazero</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-b-30 p-t-40">
  <div class="container">
    <div class="row">
      <div class="col-md-6 sm-text-center">
        <img src="assets/images/custom/logo.png" class="logo inline" alt="">
      </div>

      <div class="col-md-6">
        <ul class="list-footer">
          <li><a data-scrolltop href="#/app/terms">Termos de uso e privacidade</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
