<section class="p-t-70 p-b-20">
  <div class="container">
    <h1 class="text-center text-primary">Recuperar senha</h1>
  </div>
</section>

<section class="p-t-20 p-b-20 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alert alert-error" ng-show="vm.hasError">{{vm.error}}</div>

            <div class="block-message block-message-color block-message-success" ng-show="vm.requestedNewPassword">
              <h4>Quase lá! Falta pouco para recuperar sua senha...</h4>
              <p>Agora você só precisa <strong>acessar o link</strong> através de um email que acabamos de lhe enviar.</p>
            </div>

            <form name="forgot" ng-submit="vm.forgotPassword(vm.email)" ng-show="!vm.requestedNewPassword" novalidate>
              <div class="form-group form-group-default required" pg-form-group ng-class="{'has-error': forgot.email.$invalid && forgot.$submitted}">
                <label for="fieldEmail">Email</label>
                <input id="fieldEmail" name="email" type="email" minlength="5" ng-model="vm.email" class="form-control" focus-me="true" required>
              </div>
              <div ng-if="forgot.email.$invalid && forgot.$submitted" ng-messages="forgot.email.$error">
                <div ng-messages-include="modules/core/error-messages.html"></div>
              </div>

              <div class="text-small font-arial text-right">
                <a href="#/app/login">Fazer login</a>
              </div>

              <div class="block-action">
                <button type="submit" class="btn btn-lg btn-block btn-primary" ladda="vm.isRunningForgotPassword">Continuar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
