<div class="clearfix"></div>

<section class="p-t-70 p-b-20 no-overflow bg-master-lightest">
  <div class="container">
    <div class="row p-b-30">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h4 class="block-title m-b-0">Chega de filas traumáticas</h4>
        <h1 class="m-t-5 text-primary"><span class="semi-bold">Você</span> nunca mais vai esperar em filas</h1>
        <p>Com o Filazero não há espera e você é atendido na hora certa</p>
      </div>
    </div>

    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="p-t-30 text-right">
            <dl>
              <dt class="block-title p-b-10 text-primary">Ache <i class="pg-arrow_right m-l-10"></i></dt>
              <dd class="m-b-30">Pesquise por <span class="semi-bold">Filazero</span> na sua app store favorita</dd>
            </dl>
            <dl>
              <dt class="block-title p-b-10 text-primary">Instale <i class="pg-arrow_right m-l-10"></i></dt>
              <dd class="m-b-30">Baixe e instale o app</dd>
            </dl>
            <dl>
              <dt class="block-title p-b-10 text-primary">Entre <i class="pg-arrow_right m-l-10"></i></dt>
              <dd class="m-b-30">Faça o login com Facebook, Google+ ou seu endereço de email</dd>
            </dl>
          </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1 col-md-offset-0 no-padding xs-p-l-15 xs-p-r-15">
          <div class="content-mask-md">
            <div class="device_morph pull-center-inner" id="iphone01" float-me>
              <img alt="" class="xs-image-responsive-height image-responsive-width" src="assets/images/b_phone.png">
              <div class="screen">
                <div class="iphone-border">
                  <img src="assets/images/screenshots/mobile-1.png" class="image-responsive-height lazy" alt="" style="opacity: 1;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-50 p-b-20 no-overflow">
  <div class="container">
    <div class="row p-b-30">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h4 class="block-title m-b-0">Explore</h4>
        <h1 class="m-t-5 text-primary"><span class="semi-bold">Encontre</span> serviços e emita seu bilhete</h1>
      </div>
    </div>

    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-sm-5 col-md-offset-1 no-padding xs-p-l-15 xs-p-r-15 fimagel">
          <div class="content-mask-md">
            <div class="device_morph pull-center-inner" id="iphone01" float-me>
              <img alt="" class="xs-image-responsive-height image-responsive-width" src="assets/images/b_phone.png">
              <div class="screen">
                <div class="iphone-border">
                  <img src="assets/images/screenshots/mobile-2.png" class="image-responsive-height lazy" alt="" style="opacity: 1;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-sm-offset-2 col-md-offset-0">
          <div class="p-t-30">
            <dl>
              <dt class="block-title p-b-10 text-primary"><i class="pg-arrow_left m-r-10"></i> Confirme</dt>
              <dd class="m-b-30">Confirme o agendamento e faça check-in</dd>
            </dl>
            <dl>
              <dt class="block-title p-b-10 text-primary"><i class="pg-arrow_left m-r-10"></i> Monitore</dt>
              <dd class="m-b-30">O app notifica a você todas as atualizações de sua posição na fila e a expectativa de atendimento</dd>
            </dl>
            <dl>
              <dt class="block-title p-b-10 text-primary"><i class="pg-arrow_left m-r-10"></i> Avalie</dt>
              <dd class="m-b-30">Opine sobre o atendimento</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-70 p-b-20 no-overflow bg-master-lightest">
  <div class="container">
    <div class="row p-b-30">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h4 class="block-title m-b-0">Nada de esperas</h4>
        <h1 class="m-t-5 text-primary"><span class="semi-bold">Filazero</span> guarda o seu lugar na fila</h1>
      </div>
    </div>

    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="p-t-30 text-right">
            <dl>
              <dt class="block-title p-b-10 text-primary"><i class="pg-arrow_left m-r-10"></i> Confirme</dt>
              <dd class="m-b-30">Confirme o agendamento e faça check-in</dd>
            </dl>
            <dl>
              <dt class="block-title p-b-10 text-primary"><i class="pg-arrow_left m-r-10"></i> Monitore</dt>
              <dd class="m-b-30">O app notifica a você todas as atualizações de sua posição na fila e a expectativa de atendimento</dd>
            </dl>
            <dl>
              <dt class="block-title p-b-10 text-primary"><i class="pg-arrow_left m-r-10"></i> Avalie</dt>
              <dd class="m-b-30">Opine sobre o atendimento</dd>
            </dl>
          </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1 col-md-offset-0 no-padding xs-p-l-15 xs-p-r-15">
          <div class="content-mask-md">
            <div class="device_morph pull-center-inner" id="iphone01" float-me>
              <img alt="" class="xs-image-responsive-height image-responsive-width" src="assets/images/b_phone.png">
              <div class="screen">
                <div class="iphone-border">
                  <img src="assets/images/screenshots/mobile-3.png" class="image-responsive-height lazy" alt="" style="opacity: 1;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-100 p-b-100 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="m-t-5 m-b-30"><span class="semi-bold">Faça o download</span> e nunca mais espere em filas</h1>
        <a href="https://play.google.com/store/apps/details?id=com.inventione.filazero" target="_blank" class="display-inline-block m-l-5 m-r-5 xs-m-b-10"><img src="assets/images/button-googleplay.png" height="45" alt="Google Play"></a>
        <a href="https://itunes.apple.com/us/app/filazero/id1077360648?l=pt&ls=1&mt=8" target="_blank"><img src="assets/images/button-applestore.svg" height="45" alt="App Store"></a>
      </div>
    </div>
  </div>
</section>
