<div class="p-t-70 p-b-20" ng-show="isLoading">
  <div class="progress-circle-indeterminate progress-circle-primary"></div>
</div>

<div ng-show="!isLoading">
  <section class="p-t-70 p-b-20 bg-white">
    <div class="container">
      <h2 class="m-b-5"><span class="font-montserrat">{{location.provider.name}}</span> <em class="m-l-5 text-xsmall hint-text">{{location.name}}</em> <!-- <button class="m-l-5 btn btn-xs btn-white" disabled>Mudar local</button> --></h2>

      <div class="row p-t-10 b-t b-grey">
        <div class="col-sm-8 sm-m-b-10 font-arial">
          <address ng-show="location.address.street">{{location.address.street}} | {{location.address.state}} | {{location.address.city}} | {{location.address.zipCode}}</address>
          <span ng-show="!location.address.street">Unidade móvel</span>
          <div class="m-t-5">
            <a class="m-r-15 text-primary" href="#" target="_blank"><i class="fa fa-location-arrow"></i> Mapa</a>
            <a class="m-r-15 text-primary" ng-href="tel:{{location.phone}}"><i class="fa fa-phone"></i> {{location.phone}}</a>
          </div>
        </div>

        <div class="col-sm-4 p-t-5">
          <div class="input-group transparent">
            <span class="input-group-addon"><i class="pg-search"></i></span>
            <input type="text" class="form-control input-lg" placeholder="Pesquisar serviço" name="icon-filter" ng-model="search">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-b-20 bg-master-lightest">
    <div class="container">
      <div class="block-message block-message-empty" ng-show="!hasServices">
        <h4>Ops! Nenhum serviço disponível para agendamento online...</h4>
        <p>Por favor, entre em contato com a empresa para consultar seus serviços.</p>
        <button class="btn btn-primary" ui-sref="app.explore">Explore</button>
      </div>

      <div ng-show="hasServices">
        <div class="panel panel-transparent">
          <div class="panel-heading">
            <div class="panel-title">Serviços disponíveis</div>
          </div>

          <div class="panel-body m-t-10">
            <div class="panel-group" id="services" ng-repeat="service in location.services | filter: search | orderBy: 'name'">
              <div class="panel panel-default">
                <div class="panel-heading large pointer" ng-click="setActiveService(service)">
                  <h4 class="panel-title"><a class="cursor-pointer" ng-class="{collapsed: !isActiveService(service)}">{{service.name | capitalize}}</a></h4>
                  <div class="text-small font-arial">
                    <span class="text-primary" popover="{{service.description}}" popover-trigger="mouseenter" popover-placement="right"><i class="fa fa-info-circle"></i> Sobre</strong></span>
                    <span class="muted m-l-15"><i class="fa fa-clock-o"></i> Atendimento médio: <strong>{{service.averageTime}} minutos</strong></span>
                  </div>
                </div>

                <div class="panel-collapse collapse" ng-class="{in:isActiveService(service)}">
                  <div class="panel-body">
                    <div>
                      <div class="block-message block-message-success block-message-color" ng-show="wasTicketEmitted">
                        <h4>Tudo certo! Bilhete emitido com sucesso...</h4>
                        <p>Guarde o código de seu bilhete: <a href="javascript:;" ng-click="showTicketDetails(ticketEmitted.id)"><strong>{{ticketEmitted.friendlyCode}}</strong></a>.</p>
                        <p>Você também receberá esse código em seu email.</p>

                        <div class="block-separate block-separate-top">
                          <a href="javascript:;" ng-click="showTicketDetails(ticketEmitted.id)" class="btn btn-sm btn-rounded btn-bordered btn-primary">Detalhes do bilhete</a>
                          <a href="#/app/account/tickets" class="btn btn-sm btn-rounded btn-bordered btn-primary">Todos os bilhetes</a>
                          <a href="javascript:;" ng-click="resetStates()" class="btn btn-sm btn-rounded btn-primary"><strong>Nova reserva</strong></a>
                        </div>
                      </div>

                      <div class="block-message block-message-success block-message-color" ng-show="overbooked">
                        <h4>Tudo certo! Inscrição realizada com sucesso...</h4>
                        <p>Fique atento, você recebera um email sempre que uma nova vaga surgir.</p>
                        <p ng-show="!isUser">Aproveite para concluir seu cadastro e ter total acesso aos recursos do Filazero.</p>

                        <div class="block-separate block-separate-top">
                          <a href="javascript:;" ui-sref="app.signup({e:overbookData.email, f:overbookData.name})" class="btn btn-sm btn-rounded btn-bordered btn-primary" ng-show="!isUser">Cadastre-se</a>
                          <a href="#/app/account/tickets" class="btn btn-sm btn-rounded btn-bordered btn-primary">Todos os bilhetes</a>
                          <a href="javascript:;" ng-click="resetStates()" class="btn btn-sm btn-rounded btn-primary"><strong>Nova reserva</strong></a>
                        </div>
                      </div>

                      <div class="progress-circle-indeterminate progress-circle-primary" ng-show="isLoadingDatesAvailability"></div>

                      <div class="row" ng-show="!wasTicketEmitted && !isLoadingDatesAvailability && !overbooked">
                        <div class="block-step col-md-4">
                          <h5 class="block-heading">Dia</h5>

                          <div class="datepicker-custom">
                            <datepicker class="well well-sm" ng-model="selected.date" show-weeks="false" min-date="todayDate" custom-class="getDayClass(date, 'day')" ng-if="isActiveService(service) && !isLoadingDatesAvailability"></datepicker>
                          </div>

                          <div class="block-legend text-center m-t-30">
                            <div class="block-hover-content">
                              <div class="item success-light">Vagas disponíveis</div>
                              <div class="item danger-light">Vagas esgotadas</div>
                            </div>
                          </div>
                        </div>

                        <div class="block-step col-md-4 b-l b-r b-grey">
                          <h5 class="block-heading">Horário</h5>

                          <div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="isLoadingAvailability"></div>

                          <div ng-show="!isLoadingAvailability">
                            <div class="block-message block-message-error" ng-show="!hasSessions">
                              <h4>Ops! Nenhum horário disponível...</h4>
                              <button class="btn btn-sm btn-rounded btn-bordered btn-primary" ng-click="goNextDate()" ng-show="hasAvailableDays()">Ir para a vaga mais próxima</button>
                            </div>

                            <div ng-show="!isLoadingSessions && hasSessions ">
                              <div class="form-group-custom clean">
                                <label>Preferência para atendimento</label>
                                <ui-select ng-model="selected.resource">
                                  <ui-select-match placeholder="Selecione sua preferência">{{$select.selected.name}}</ui-select-match>
                                  <ui-select-choices repeat="resource in availability.resources | filter: $select.search" ui-disable-choice="!hasSessionForResource(resource)">
                                    <span>{{resource.name}}</span>
                                  </ui-select-choices>
                                </ui-select>
                              </div>

                              <div class="form-group-custom clean">
                                <label>Horários disponíveis</label>

                                <div class="block-message block-message-error" ng-show="!resourceHasSessions">
                                  <h4>Ops! Nenhum horário disponível...</h4>
                                  <p>Selecione outra preferência de atendimento.</p>
                                </div>

                                <div class="radio radio-primary" ng-repeat="session in availability.sessions" ng-show="showRadio(session)">
                                  <input id="sessionTime-{{session.id}}-{{$index}}" name="sessionTime-{{service.id}}" type="radio" ng-model="$parent.selected.session" ng-value="session" ng-disabled="isSessionExpired(session) || !session.hasSlotsLeft">
                                  <label for="sessionTime-{{session.id}}-{{$index}}">{{session.start | date: 'shortTime'}} às {{session.end | date: 'shortTime'}} - {{resourceSelected(session)}}</label>
                                  <span ng-show="isSessionExpired(session)" class="badge badge-danger">Expirada</span>
                                  <span ng-show="!isSessionExpired(session) && !session.hasSlotsLeft" class="badge badge-danger">Esgotada</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="block-step col-md-4">
                          <h5 class="block-heading">Confirmação</h5>

                          <div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="isLoadingAvailability"></div>

                          <div ng-show="!hasSessions && !isLoadingAvailability">
                            <p class="text-center text-primary">
                              Gostaria de ser notificado quando uma nova vaga surgir?
                            </p>

                            <form name="overbookForm" ng-submit="overbook()" novalidate>
                              <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': overbookForm.overbookName.$invalid && (overbookForm.overbookName.$touched || overbookForm.$submitted)}">
                                <label for="overbookName">Nome</label>
                                <input type="text" id="overbookName" name="overbookName" minlength="3" class="form-control" ng-model="overbookData.name" required>
                              </div>
                              <div ng-if="overbookForm.overbookName.$invalid && (overbookForm.overbookName.$touched || overbookForm.$submitted)" ng-messages="overbookForm.overbookName.$error">
                                <div ng-messages-include="modules/core/error-messages.html"></div>
                              </div>

                              <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': overbookForm.overbookEmail.$invalid && (overbookForm.overbookEmail.$touched || overbookForm.$submitted)}">
                                <label for="overbookEmail">Email</label>
                                <input type="email" id="overbookEmail" name="overbookEmail" class="form-control" ng-model="overbookData.email" required>
                              </div>
                              <div ng-if="overbookForm.overbookEmail.$invalid && overbookForm.overbookEmail.$touched || overbookForm.$submitted" ng-messages="overbookForm.overbookEmail.$error">
                                <div ng-messages-include="modules/core/error-messages.html"></div>
                              </div>

                              <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': overbookForm.overbookPhone.$invalid && (overbookForm.overbookPhone.$touched || overbookForm.$submitted)}">
                                <label for="overbookPhone">Telefone</label>
                                <input type="text" id="overbookPhone" name="overbookPhone" class="form-control" ng-model="overbookData.phone" ui-mask-placeholder-char="space" minlength="10" ui-options="{clearOnBlur: false}" ui-mask="99 99999999?9" ui-option required>
                              </div>
                              <div ng-if="overbookForm.overbookPhone.$invalid && (overbookForm.overbookPhone.$touched || overbookForm.$submitted)" ng-messages="overbookForm.overbookPhone.$error">
                                <div ng-messages-include="modules/core/error-messages.html"></div>
                                <label class="error" ng-if="!overbookData.phone && overbookForm.overbookPhone.$error.mask">Muito curto.</label>
                              </div>

                              <button class="btn btn-lg btn-block btn-rounded btn-primary" type="submit" ladda="isRunningOverbook"><i class="fa fa-envelope"></i> Avise-me</button>
                            </form>

                          </div>

                          <div ng-show="hasSessions && !isLoadingAvailability">
                            <form name="selfServiceForm">
                              <div ng-show="!isLoadingAvailability">

                                <div class="block-message block-message-error" ng-show="!hasSelectedSession()">
                                  <h4>Ops! Nenhum horário selecionado...</h4>
                                  <p>Selecione o horário desejado ao lado.</p>
                                </div>

                                <div ng-show="hasSelectedSession()">
                                  <table class="table table-cozy">
                                    <tr>
                                      <td class="muted" style="width: 35%;">Dia</td>
                                      <td style="width: 65%;">{{selected.date | date: 'fullDate' | capitalize}}</td>
                                    </tr>
                                    <tr>
                                      <td class="muted">Preferência para atendimento</td>
                                      <td>{{selected.resource.name}}</td>
                                    </tr>
                                    <tr>
                                      <td class="muted">Horário</td>
                                      <td><span ng-show="selected.session">{{selected.session.start | date: 'shortTime'}} às {{selected.session.end | date: 'shortTime'}}</span></td>
                                    </tr>
                                    <tr>
                                      <td class="muted">Telefone</td>
                                      <td>
                                        <input type="text" id="phone" name="phone" class="form-control required" ng-model="userInfo.phone" popover-placement="right" popover-trigger="focus" popover="Digite seu telefone" focus-me="focusPhone" ui-mask-placeholder-char="space" ui-mask="99 99999999?9">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="muted">Preferencial</td>
                                      <td>
                                        <div class="radio radio-primary m-t-0 m-b-0">
                                          <input id="special0-{{service.id}}" name="special-{{service.id}}" type="radio" ng-model="selected.special" value="false" checked>
                                          <label for="special0-{{service.id}}" class="margin-bottom-0">Não</label>

                                          <input id="special1-{{service.id}}" name="special-{{service.id}}" type="radio" ng-model="selected.special" value="true">
                                          <label for="special1-{{service.id}}" class="margin-bottom-0">Sim</label>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">
                                        <div vc-recaptcha key="'6LcpQh0TAAAAAP60bN7u_CDJAsMG-GiA59RFLkUs'" on-create="recaptchaListeners.OnCreate(widgetId)" on-success="recaptchaListeners.onResponse(response)" on-expire="recaptchaListeners.onExpiration()"></div>
                                        <div class="m-t-10" ng-show="selfServiceForm.$submitted" ng-messages="selfServiceForm.$error">
                                          <div ng-messages-include="modules/core/error-messages.html"></div>
                                        </div>
                                      </td>
                                    </tr>
                                  </table>

                                  <button class="btn btn-lg btn-block btn-rounded btn-primary" ng-click="tryEmitTicket(selfServiceForm.$valid)" ladda="isRunningEmitTicket"><i class="fa fa-ticket"></i> Gerar bilhete</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
