<section class="p-t-70 p-b-20">
  <div class="container">
    <h1 class="text-center text-primary">Entrar</h1>
  </div>
</section>

<section class="p-t-20 p-b-20 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div ng-include="'modules/auth/login-default.html'"></div>
      </div>
    </div>
  </div>
</section>
