<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <ul class="nav nav-tabs nav-tabs-simple">
        <li ng-class="{'active': isActiveTab('login')}"><a href="javascript:;" ng-click="setActiveTab('login')"><span>Login</span></a></li>
        <li ng-class="{'active': isActiveTab('signup')}"><a href="javascript:;" ng-click="setActiveTab('signup')"><span>Cadastre-se</span></a></li>
      </ul>
    </div>

    <div class="modal-body">
      <div class="row" ng-show="isActiveTab('login')">
        <div ng-include="'modules/auth/login-default.html'" ng-controller="LoginController"></div>
      </div>

      <div class="row" ng-show="isActiveTab('signup')">
        <div class="col-md-12">
          <div ng-include="'modules/signup/signup-default.html'" ng-controller="SignUpController"></div>
        </div>
      </div>
    </div>
  </div>
</div>
