<div class="panel panel-default">
  <div class="panel-body">
    <form name="loginForm" novalidate>

      <div class="form-group form-group-default required" ng-class="{'has-error': loginForm.fieldEmail.$invalid && loginForm.$submitted}" pg-form-group>
        <label for="fieldEmail">Email</label>
        <input id="fieldEmail" name="fieldEmail" type="email"
               ng-model="loginData.userName" autocomplete="off"
               ng-model-options="{ updateOn: 'blur' }"
               class="form-control" ng-init="focus=true" focus-me="focus" required>
      </div>
      <div ng-if="loginForm.fieldEmail.$invalid && loginForm.$submitted" ng-messages="loginForm.fieldEmail.$error">
        <div ng-messages-include="modules/core/error-messages.html"></div>
      </div>

      <div class="form-group form-group-default required" ng-class="{'has-error': loginForm.fieldPassword.$invalid && loginForm.$submitted}" pg-form-group>
        <label for="fieldPassword">Senha</label>
        <input id="fieldPassword" name="fieldPassword" type="password" ng-model="loginData.password" class="form-control" required>
      </div>
      <div ng-if="loginForm.fieldPassword.$invalid && loginForm.$submitted" ng-messages="loginForm.fieldPassword.$error">
        <div ng-messages-include="modules/core/error-messages.html"></div>
      </div>

      <div class="text-small font-arial text-right">
        <a href="javascript:void(0);" ui-sref="app.password-forgot">Esqueceu a senha?</a>
      </div>

      <div class="block-action">
        <button type="submit" class="btn btn-lg btn-block btn-primary" ng-click="login()" ladda="isRunningLogin">Entrar</button>
      </div>

      <div class="p-t-20">
        <h4 class="blck-title text-center">Entre com sua conta social</h4>

        <div class="row">
          <div class="col-sm-6 sm-p-b-10">
            <button type="button" class="btn btn-lg btn-block btn-info" ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i></button>
          </div>

          <div class="col-sm-6">
            <button type="button" class="btn btn-lg btn-block btn-danger" ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
