%clearfix
  &:after
    content: ''
    display: table
    clear: both

%icon
  display: inline-block
  transform: translate(0,0)
  font: normal normal normal 14px/1 map-get($font-icon, 1)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: auto
