<section class="p-t-70 p-b-20">
  <div class="container">
    <h1 class="text-center text-primary">Cancelar Inscrição</h1>
  </div>
</section>

<section class="p-t-20 p-b-20 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

            <div class="block-message block-message-color block-message-success" ng-show="vm.cancelled && !vm.isLoading">
              <h4>Inscrição cancelada com sucesso!</h4>
              <p>Você não recebera notificações deste serviço.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
