<section class="p-t-70 p-b-20 bg-master-lightest">
  <div class="container">
    <h1 class="text-center text-primary">Minha conta</h1>
  </div>
</section>

<section class="p-t-30 p-b-30 bg-white">
  <div class="container">
    <div class="boxtab">
      <div class="boxtab-nav">
        <ul>
          <li ng-class="{'active': vm.isActiveMenu('overview')}">
            <a href="javascript:;" ui-sref="app.account.overview" ng-click="vm.setActiveMenu('overview')"><i class="fa fa-user"></i> Resumo</a>
          </li>
          <li ng-class="{'active': vm.isActiveMenu('tickets')}">
            <a href="javascript:;" ui-sref="app.account.tickets" ng-click="vm.setActiveMenu('tickets')"><i class="fa fa-ticket"></i> Bilhetes</a>
          </li>
          <li ng-class="{'active': vm.isActiveMenu('activities')}">
            <a href="javascript:;" ui-sref="app.account.activities" ng-click="vm.setActiveMenu('activities')"><i class="fa fa-bell"></i> Atividades</a>
          </li>
          <li ng-class="{'active': vm.isActiveMenu('profile')}">
            <a href="javascript:;" ui-sref="app.account.profile" ng-click="vm.setActiveMenu('profile')"><i class="fa fa-pencil"></i> Editar dados</a>
          </li>
          <li ng-class="{'active': vm.isActiveMenu('password-change')}">
            <a href="javascript:;" ui-sref="app.account.password-change" ng-click="vm.setActiveMenu('password-change')"><i class="fa fa-lock"></i> Mudar senha</a>
          </li>
        </ul>
      </div>

      <div class="boxtab-content">
        <div class="tab-content" ui-view></div>
      </div>
    </div>
  </div>
</section>
