<div class="modal-body">
  <div class="row">
    <div class="col-md-6 col-sm-12 b-r b-grey">
      <h3 class="m-t-30">Para <span class="semi-bold">você</span></h3>
      <p>O Filazero foi pensado para pessoas que valorizam o seu tempo. Fácil de usar e disponível em smartphones, deixa tudo
        ao alcance das mãos.</p>
      <button class="btn btn-primary btn-lg btn-cons" ng-click="vm.goToUserSignup()">Cadastrar Usuário</button>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="m-t-30">Para sua <span class="semi-bold">empresa</span></h3>
      <p>O Filazero proporciona gestão mais eficiente do fluxo de atendimento em seu negócio, diminuindo o tempo de espera em
        filas e aumentando a satisfação de seus clientes.</p>
      <a class="btn btn-primary btn-lg btn-cons" href="{{vm.appUrl}}quick-start" ng-click="vm.goToProviderSignup()" target="_blank">Cadastrar Empresa</a>
    </div>
  </div>
</div>
