<section class="p-t-70 p-b-20">
  <div class="container">
    <h1 class="text-center text-primary">Novo usuário</h1>
  </div>
</section>

<section class="p-t-20 p-b-20 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-transparent">
          <div class="panel-heading separator">
            <div class="panel-title">Espere menos, faça mais</div>
          </div>

          <div class="panel-body">
            <h3>Para <span class="semi-bold">você</span></h3>
            <p>O Filazero foi pensado para pessoas que valorizam o seu tempo. Fácil de usar e disponível em smartphones, deixa tudo ao alcance das mãos.</p>

            <h3 class="m-t-30">Para sua <span class="semi-bold">empresa</span></h3>
            <p>O Filazero proporciona gestão mais eficiente do fluxo de atendimento em seu negócio, diminuindo o tempo de espera em filas e aumentando a satisfação de seus clientes.</p>
            <div class="m-t-20">
              <a class="btn btn-rounded btn-bordered font-montserrat" href="{{appUrl}}quick-start" target="_blank">Cadastre sua empresa</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div ng-include="'modules/signup/signup-default.html'"></div>
      </div>
    </div>
  </div>
</section>
