<div class="panel panel-default">
  <div class="panel-body">
    <div class="block-message block-message-success block-message-color" ng-show="showSuccess">
      <h4>Tudo certo! Seu cadastro foi feito com sucesso...</h4>
      <p>Agora você só precisa <strong>confirmar o seu cadastro</strong> através de um email que acabamos de lhe enviar.</p>
    </div>

    <form name="registerForm" ng-show="!showSuccess" ng-submit="register()" novalidate>

      <!-- First Name -->
      <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': registerForm.firstName.$invalid && (registerForm.firstName.$touched || registerForm.$submitted)}">
        <label for="firstName">Nome</label>
        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="registration.firstName" minlength="3" ng-init="focus=true" focus-me="focus" required>
      </div>
      <div ng-if="registerForm.firstName.$invalid && (registerForm.firstName.$touched || registerForm.$submitted)" ng-messages="registerForm.firstName.$error">
        <div ng-messages-include="modules/core/error-messages.html"></div>
      </div>

      <!-- Last Name -->
      <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': registerForm.lastName.$invalid && (registerForm.lastName.$touched || registerForm.$submitted)}">
        <label for="lastName">Sobrenome</label>
        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="registration.lastName" minlength="3" required>
      </div>
      <div ng-if="registerForm.lastName.$invalid && (registerForm.lastName.$touched || registerForm.$submitted)" ng-messages="registerForm.lastName.$error">
        <div ng-messages-include="modules/core/error-messages.html"></div>
      </div>

      <!-- Email -->
      <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)}">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ng-model="registration.email" required>
      </div>
      <div ng-if="registerForm.email.$invalid && registerForm.email.$touched || registerForm.$submitted" ng-messages="registerForm.email.$error">
        <div ng-messages-include="modules/core/error-messages.html"></div>
      </div>

      <!-- Password -->
      <div pg-form-group class="form-group form-group-default required" style="overflow: visible" ng-class="{'has-error': (registerForm.password.$invalid || checkRegistration()) && (registerForm.password.$touched || registerForm.$submitted)}">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" class="form-control" ng-model="registration.password" minlength="6">
      </div>

      <!-- Password confirm -->
      <div pg-form-group class="form-group form-group-default required" ng-class="{'has-error':(registerForm.passwordConf.$touched || registerForm.$submitted) && !checkPassword()}">
        <label for="passwordConf">Confirme a senha</label>
        <input type="password" id="passwordConf" name="passwordConf" class="form-control" ng-model="registration.confirmPassword" minlength="6" ng-required="!isSocial">
      </div>
      <div ng-if="registerForm.passwordConf.$invalid && registerForm.passwordConf.$touched || registerForm.$submitted || !checkPassword()" ng-messages="registerForm.passwordConf.$error">
        <label class="error" ng-if="!checkPassword() && registerForm.passwordConf.$touched">As senhas não coincidem</label>
      </div>

      <!-- Terms -->
      <div class="checkbox check-primary required">
        <input id="agree" type="checkbox" value="1" ng-model="registration.checkTerms" required>
        <label for="agree">Eu aceito os <a ui-sref="app.terms" class="text-primary">termos de uso</a> e de <a ui-sref="app.terms" class="text-primary">privacidade</a> do Filazero.</label>
      </div>
      <div>
        <label class="error" ng-if="registerForm.$submitted && !registration.checkTerms">Você precisa aceitar os termos.</label>
      </div>

      <!-- Confirm -->
      <div class="block-action">
        <button type="submit" class="btn btn-lg btn-block btn-primary all-caps font-montserrat" ladda="isRunningRegister">Confirmar cadastro</button>
      </div>
    </form>
  </div>
</div>
