<section class="p-t-70 p-b-20 bg-white">
  <div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="vm.isLoading"></div>

  <div class="container">
    <div class="block-message block-message-color block-message-success" ng-show="!vm.isLoading && vm.accountConfirmed">
      <h4>Sua conta foi confirmada</h4>
      <p>{{vm.user.email}}</p>
      <p>Agora você pode aproveitar todas as vantagens de um usuário Filazero</p>
    </div>
    <div class="block-message block-message-color block-message-success" ng-show="!vm.isLoading && vm.accountAlreadyConfirmed">
      <h4>Sua conta já foi confirmada anteriormente</h4>
      <p>Você já pode aproveitar todas as vantagens de um usuário Filazero</p>
    </div>
    <div class="block-message block-message-error" ng-show="!vm.isLoading && !vm.accountConfirmed && !vm.accountAlreadyConfirmed">
      <h4>Esse email de confirmação esta inválido.</h4>
      <p>Um novo email de confirmação foi enviado.</p>
    </div>
  </div>
</section>
